{% extends "core/base.html" %}
{% load static %}
{% block content %}

    <div class="gradient-header">
        <h2 class="text-white text-center">{{ done }} of {{ total }} classified</h2>
        {% include 'core/partials/_rounded_bottom.html' %}
    </div>
    <div class="px-5">
        {% if paper %}
            <div id="paper-container">
                <div class="row my-5 paper">
                    <div class="col-md-7 col-12">
                        {% include 'core/partials/_paper_card.html' with html=True paper=paper show_score=False extended=True %}
                    </div>
                    <div class="col-md-5 col-12">
                        <div class="card sticky-top" style="top: 30px">
                            <div class="card-body">
                                <form action="{% url 'classify' token_str=token.token %}" method="POST"
                                      class="topic-select-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="paper" value="{{ paper.doi }}"/>


                                    <div class="category-container">

                                        <button id="submit-button" type="submit" class="btn btn-success float-right">
                                            Submit
                                        </button>

                                        <h4 class="title">Chose a category</h4>

                                        <div class="input-group mt-4">
                                            {% for category in categories.all %}
                                                <div class="w-100">
                                                    <label>
                                                        <input class="category-radio" data-id="{{ category.pk }}"
                                                               type="radio" name="category"
                                                               value="{{ category.pk }}"> {{ category.text }}
                                                    </label>
                                                </div>
                                            {% endfor %}
                                            <div class="radio">
                                                <label><input class="category-radio" type="radio" name="category"
                                                              value="-1" checked="checked"> Other</label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="my-5 text-center font-weight-bold">Everything classified.</div>
        {% endif %}

        <div id="paper-loading-indicator" class="text-muted text-center fa-5x my-5" style="display: none;">
            <i class="fas fa-circle-notch fa-spin"></i>
        </div>

        <nav id="pagination-container"></nav>
    </div>


{% endblock %}

{% block script %}
    {% include 'core/partials/_paper_card.html' with script=True html=False %}
{% endblock %}
