{% if statistics.available %}

    <div class="row">
        <div class="col-12">
            <div class="card w-100 shadow rounded bg-white p-4 mt-3">
                <div class="card-body p-0">
                    <div>
                        <h3>New publications over time</h3>
                    </div>
                    <div>
                        <canvas id="publicationsOverTimeChart" style="width:100%; height: 300px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-12">
            <div class="card w-100 shadow rounded bg-white p-4 mt-3">

                <div class="card-body pt-0">

                    <div class="row p-0 align-items-top">

                        <div class="col-lg-6 col-md-6 col-12 pl-0">

                            <div>
                                <h3>Search results</h3>
                            </div>

                            <table class="table table-striped mt-4 ml-4">

                                <tbody>
                                <tr>
                                    <td>Papers:</td>
                                    <td class="text-center">{{ statistics.paper_count }}</td>
                                </tr>

                                <tr>
                                    <td>Authors:</td>
                                    <td class="text-center">{{ statistics.author_count }}</td>
                                </tr>

                                <tr>
                                    <td>Topics:</td>
                                    <td class="text-center">{{ statistics.topic_count }}</td>
                                </tr>

                                <tr>
                                    <td>Dataset Sources:</td>
                                    <td class="text-center">{{ statistics.paper_host_count }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-lg-6 col-md-6 col-12">

                            <div class="text-center mb-2">
                                <h4>Sources</h4>
                            </div>

                            <div>
                                <canvas id="paperHostDistribution" style="width: 100%;height:300px;"></canvas>
                            </div>


                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row" id="topicsRow">
        <div class="col-lg-6 col-md-6 col-12">
            <div class="card w-100 shadow rounded bg-white pl-4 pr-4 pt-4 pb-1 mt-3">
                <div class="card-title"><h4>Topic Distribution</h4></div>
                <div class="card-body">
                    <canvas id="paperTopicDistribution" style="width: 100%;height:300px;"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-12">
            <div class="card w-100 shadow rounded bg-white pl-4 pr-4 pt-4 pb-1 mt-3">
                <div class="card-title"><h4>Categories</h4></div>
                <div class="card-body">
                    <canvas id="categoryDistribution" style="width: 100%;height:300px;"></canvas>
                </div>
            </div>
        </div>
    </div>


    <script>
        window.Pagination.pagination_needed = false;
        window.Pagination.result_size = 0;

        $(document).ready(function () {
            let published_at_data = JSON.parse('{{ statistics.published_at_data|escapejs }}');
            let paper_host_data = JSON.parse('{{ statistics.paper_host_data|escapejs }}');
            let topics_data = JSON.parse('{{ statistics.topic_data|escapejs }}');
            let category_data = JSON.parse('{{ statistics.category_data|escapejs }}');

            if (!jQuery.isEmptyObject(topics_data)) {
                $("#paperTopicDistribution").paperTopicDistribution({plot_data: topics_data});
            } else {
                $("#topicsRow").remove();
            }


            $("#publicationsOverTimeChart").publicationsOverTime({plot_data: published_at_data});
            $("#paperHostDistribution").paperHostDistribution({plot_data: paper_host_data});
            $("#categoryDistribution").categoryDistribution({plot_data: category_data});
        });

    </script>

{% else %}
    <div class="my-5 text-center font-weight-bold">No papers found. Thus, no statistics are available.</div>
{% endif %}