<div class="canvas-controls">
    <div class="flex-container d-flex flex-row">
        <div class="text-white d-none d-md-block mr-2">
            <div id="zoom-pan-controls">
                <div>
                    <div class="">Zoom Speed</div>
                    <input id="zoom-slider" class="slider" type="text" data-slider-min="0.01"
                           data-slider-max="1" data-slider-step="0.01" data-slider-value="0.25"/>
                </div>
                <div class="mt-2">
                    <div class="">Pan Speed</div>
                    <input id="pan-slider" class="slider" type="text" data-slider-min="0.01"
                           data-slider-max="1" data-slider-step="0.01" data-slider-value="0.5"/>
                </div>

                <div class="bg-light text-dark p-2 rounded mt-2" style="display: none;" id="titleContainer"></div>

            </div>
        </div>

        <div class="message-controls flex-fill text-center mr-2">
            <div id="paper-selected-message"
                 class="bg-dark p-2 rounded text-white">
                <div class="full-screen-visible">
                    Details about the selected paper can be found at the bottom
                    of the page once you exit the full screen.
                </div>
            </div>
        </div>

        <div class="exchangeable-controls" style="display:none;">
            <button class="btn btn-outline-light toggle-date-slider mr-2">
                <i class="fas fa-arrow-left"></i>
            </button>
        </div>

        <div class="exchangeable-controls" style="display:none;">
            <div class="slider-container d-flex flex-row align-items-center justify-content-end">
                <div class="text-white text-right position-relative mr-1">
                    <span>now</span><br>
                    <span class="" style="color: transparent;">2020-01-04</span>
                    <span class="position-absolute" style="bottom: 0;right: 0;">2020-01-04</span>
                </div>
                <div class="date-slider-container">
                    <input id="week-slider" class="slider datetime" type="text"/>
                </div>
            </div>

        </div>

         <div class="exchangeable-controls top-right-controls text-right">
            <button class="btn btn-outline-light toggle-date-slider">
                <i class="fas fa-clock"></i>
            </button>
            <button class="btn btn-outline-light"
                    data-toggle="modal"
                    data-target="#help-modal">
                <i class="fas fa-info-circle"></i>
            </button>
            <button class="btn btn-outline-light full-screen-toggle">
                <i class="fas fa-expand-alt"></i>
            </button>
            <button class="btn btn-outline-light full-screen-toggle" style="display: none;">
                <i class="fas fa-compress-alt"></i>
            </button>
        </div>
    </div>
</div>