{% extends "core/partials/_help_modal.html" %}

{% block id %}help{% endblock %}

{% block title %}
    Research Landscape Visualization
{% endblock %}
{% block description %}
    <h6>What is shown?</h6>
    <p>
        The visualization above shows every publication embedded in a 3D space where the
        position determines
        the topic of the publication. This means that papers that deal with the same topic are
        closer together than others.
    </p>

    <h6>How to navigate?</h6>
    <p>
        It is possible to navigate with the mouse and pan with the arrow keys.
        The pan and zoom speed can be adjusted with the controls on the side to allow for more
        fine
        grained control.
        By clicking on a paper, it and its ten closest neighbors are highlighted and displayed
        in a
        list below ordered by the distance from the selected paper. It is also possible to click
        on
        a topic
        to highlight
    </p>

    <h6>What is the purpose?</h6>
    <p></p>

    <h6>How are the embeddings generated?</h6>

    <p>We trained a neural network (a BERT transformer model) given a title and an
        abstract from a publication to predict if they are from the same publication or not.
        By randomly exchanging some title and abstracts during training,
        the network has to learn what the papers are about to be good at the prediction.
        It can then generate a 512 dimensional encoding of every publication.
        To visualize these generated embeddings, we reduced the dimensionality of each vector
        with T-SNE to a three dimensional space.
    </p>

    <h6>How are the topics generated?</h6>
    <p>To generate the different topics on the left side, we clustered the embeddings and then
        assigned a name to the topic that in our opinion best reflects the contents of the
        contained
        papers.</p>
{% endblock %}