<div class="legend">
    <div>
        <div class="align-items-center mb-2">
            <div>
                <button class="btn btn-outline-light rotation-button left py-0"><</button>
            </div>
            <div class="mx-2 text-white" id="rotation-label">
                <span class="deg">0</span>&deg;
            </div>
            <div>
                <button class="btn btn-outline-light rotation-button right py-0">></button>
            </div>
        </div>
    </div>
    <div>
        <div id="category-legend">
            {% for category in categories %}
                <div class="category-label"
                     data-category-id="{{ category.pk }}">

                    <span id="{{ category.pk }}-badge" role="button" class="category-badge badge"
                          data-background-color="{{ category.color }}"
                          style="background-color: {{ category.color }}">
                        {{ category.name }}
                    </span>
                </div>
            {% endfor %}
        </div>
        <div id="topic-legend" style="display: none">

        </div>
        <div id="paper-selected-legend" style="display: none">
            <div>
                <span class="badge badge-primary"
                      style="background-color: #ffc266">
                    Selected Paper
                </span>
            </div>
            <div>
                <span class="badge badge-primary"
                      style="background-color: #cc7a00">
                    Most similar papers
                </span>
            </div>
        </div>
    </div>
</div>