<div id="topics-container">
    <div class="row">
        <div class="d-none d-md-block col-md-3 text-left mt-2">
            <button type="button"
                    class="btn btn-outline-secondary"
                    id="help-modal-label"
                    data-toggle="modal"
                    data-target="#help-modal">
                <i class="fa fa-info-circle"></i>
                Show Info
            </button>
        </div>

        <div class="mb-2 col-12 col-md-6 mt-2">
            <div class="input-group mx-auto" style="border-radius: 2rem;">
                <div class="input-group-prepend">
                            <span class="input-group-text"
                                  id="filter-prepend">
                                <i class="fas fa-search text-body"></i>
                            </span>
                </div>
                <input type="text"
                       class="form-control"
                       id="topic-filter-input"
                       placeholder="Filter Topics"
                       aria-describedby="filter-prepend"
                       required>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <ul class="list-group w-100">
                {% for topic in topics %}
                    <li class="list-group-item topic-item" data-topic-name="{{ topic.name }}"
                        data-topic="{{ topic.pk }}">
                        <div class="d-flex flex-row align-items-stretch">
                            <div>
                                <button class="btn btn-info h-100 show-topic">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </div>
                            <div class="flex-fill pl-3">
                                <h6 class="show-topic d-inline-block mb-0"
                                    style="cursor: pointer;">{{ topic.name }}</h6>
                                <div class="mt-1 small">
                                    <a href="{% url "search" %}?topics={{ topic.pk }}" class="float-right">
                                        View all papers
                                    </a>
                                    <div class="text-muted">
                                        <span class="paper-count">{{ topic.papers.count }}</span> Papers
                                    </div>
                                </div>
                            </div>
                        </div>

                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
