{% spaceless %}
    {% for location in locations.all %}
        <span class="text-nowrap">
            {% if forloop.first %}
                {% if location.is_country %}
                    <i class="fa fa-globe-americas"></i>
                {% else %}
                    <i class="fa fa-map-marker-alt"></i>
                {% endif %}
                <span>&nbsp;</span>
            {% else %}
                <span>&nbsp;&middot;&nbsp;</span>
            {% endif %}
            <a href="{% url "search" %}?locations={{ location.pk }}">{{ location.displayname }}{% if location.is_city %}&nbsp;({{ location.country.displayname }}){% endif %}</a>
        </span>
    {% endfor %}
{% endspaceless %}
