<div class="col-md-5">
    <div class="card rounded shadow w-100">
        <div class="card-body">
            <h3 class="card-title">{{label}}</h3>
            <table class="table table-striped w-100 mt-3" id="{{id}}">
                <thead>
                <tr>
                    <th>Query</th>
                    <th>Count</th>
                </tr>
                </thead>
                <tbody>
                {% for search_query in queries %}
                <tr>
                    <td>{{ search_query.query__query }}</td>
                    <td>{{ search_query.count }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>