html, body {
    min-height: 100%;
    height: 100%;
}

body {
    background-size: 100% auto;
    height: 100%;
    position: relative;
    background: #F5F5F5;
}

.feedback-bar {
    background-color: #5b73aa;
    color: #fff;
    position: relative;
    z-index: 1;
}

.feedback-bar a {
    color: #fff5b1;

}

.gradient-header {
    background-color: #75a5f2;
    background-image: linear-gradient(135deg, #75A5F2 0%, #5475a1 100%);
    position: relative;
    margin-top: -72px;
    padding-top: 72px;
    width: 100%;
    padding-bottom: 4rem;
}

@media (max-width: 992px) {
    .svg-border-rounded {
        display: none;
    }
}

.gradient-header-extended {
    margin-top: -360px;
    padding-top: 360px;
}

.svg-border-rounded {
    pointer-events: none;
}

.svg-border-rounded svg {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #F5F5F5;
    height: 3rem;
    width: 100%;
}

.navbar {
    z-index: 1;
    background: transparent;
}

.bg-light-semi-transparent {
    color: #343a40 !important;
    background-color: rgba(248, 249, 250, 0.8);
}

.shadow {
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
}

#content {
    min-height: calc(100vh - 72px); /* will cover the 100% of viewport */
    overflow: visible;
    display: block;
    position: relative;
}

.footer {
    margin-top: 50px;
}

.muted-white {
    color: rgb(201, 218, 226);
}

a.muted-white, a.muted-white:hover {
    color: rgb(255, 255, 255);
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.rounded-corners {
    border-radius: 4rem;
}

.gj-datepicker.gj-datepicker-bootstrap button:not(:hover) {
    background: white !important;
}

.gj-datepicker.gj-datepicker-bootstrap button:hover {
    background: rgb(248, 249, 250) !important;
    color: #212529 !important;
}

.btn.dropdown-toggle.btn-light {
    background: white !important;
}

.card-text-preview {
    max-height: 200px;
    height: 200px;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.topic_card {
    background: linear-gradient(135deg, #ffffff 0%, #f0f0f0 100%);
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;

    background-position: 10px 0;
}

.topic_card.odd {
    background-position: 100% 0;
}

a.invisible-link, a.invisible-link:hover {
    color: inherit !important;
    text-decoration: none;
}

.topic_header {
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 200px 200px;
    background-position: 100% 0;
}

.topic_description {
    max-height: 400px;
    height: 400px;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

@media (min-width: 576px) {
    .search-bar-rounded-corners {
        border-radius: 4rem;
    }

    .search-form-control {
        height: calc(1.5em + 1rem + 2px);
        padding: .5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: .3rem;
    }

    .search-form-card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1.25rem;
    }
}

.wide-modal-dialog {
    max-width: 470px;
}

@media (min-width: 576px) {
    .wide-modal-dialog {
        max-width: 510px;
    }
}

@media (min-width: 768px) {
    .wide-modal-dialog {
        max-width: 690px;
    }
}

@media (min-width: 992px) {
    .wide-modal-dialog {
        max-width: 930px;
    }
}

@media (min-width: 1200px) {
    .wide-modal-dialog {
        max-width: 1110px;
    }
}


.button-host {
    color: #00796B;
    border-color: #00796B;
}

.button-host:hover, .button-host:active, .button-host:focus {
    color: #fff;
    background-color: #00796B;
    border-color: #00796B;
}

.button-host:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 121, 107, 0.5);
}

.button-pdf {
    color: #5475a1;
    border-color: #5475a1;
}

.button-pdf:hover, .button-pdf:active, .button-pdf:focus {
    color: #fff;
    background-color: #5475a1;
    border-color: #5475a1;
}

.button-pdf:focus {
    box-shadow: 0 0 0 0.2rem rgba(84, 117, 161, 0.5);
}

.btn-pink {
    background: #EC407A;
    color: #ffffff;
    border-color: #bf355f;
}

.btn-pink:hover, .btn-pink:active, .btn-pink:focus {
    background: #cc3767;
    color: #ffffff;
    border-color: #bf355f;
}

.btn-pink:focus {
    box-shadow: 0 0 0 0.2rem rgba(236, 64, 122, 0.1);
}


.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100% !important;

    min-width: 100%;
    max-width: 100%;
}


.bootstrap-select .dropdown-menu {
    max-width: inherit !important;
    min-width: inherit !important;
}


.bootstrap-select .dropdown-menu ul li .text {
    white-space: normal !important;
    word-break: normal !important;
}


.nav-search-types .nav-item .nav-link {
    color: white;
    font-weight: bold;
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    margin-bottom: 0.5em;
}


.nav-search-types .nav-item .nav-link:hover:not(.active):not(.disabled) {
    background: #5475a1;
}

.nav-search-types .nav-item .nav-link.active {
    color: #4c84d7;
    padding: 15px;
    background: #F5F5F5;
}

.nav-search-types .nav-item .nav-link.disabled:not(.active) {
    color: #d6d9d9 !important;
}

.nav-search-types .nav-item .nav-link.active.disabled {
    color: #6c757d !important;
}

@media (min-width: 576px) {
    .nav-search-types .nav-item:not(:first-child) .nav-link {
        margin-left: 1em;
    }
}

.tagify--outside {
    background: #fff;
}

.tagify--outside .tagify__input {
    flex: 100%;
}

div.filter-card {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 999;
    overflow-x: hidden;
    overflow-y: hidden;

}

@media (min-width: 1440px) {
    .filter-toggle {
        display: none !important;
    }

    div.filter-card {
        display: block !important;
    }
}

a.filter-back-button {
    left: 1rem;
    top: 1.25rem
}

a.filter-hide-button {
    right: 1rem;
}

div.filter-card div.card {
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 0;

    width: 100%;
    height: 100%;

    overflow-y: auto;
}

div.filter-card.collapsing {
    -webkit-transition-property: opacity, visibility;
    transition-property: opacity, visibility;
    opacity: 0;
}

.tagify__tag > div > * {
    white-space: normal !important;
}

.tagify__tag {
    background: #e5e5e5;
    margin: 5px !important;
}

.tagify__tag__removeBtn:hover {
    background: #0b2e13 !important;
}

.tagify__tag:hover {
    background: #D3E2E2;
}

@media (min-width: 992px) {
    div.filter-card {
        position: relative;

        width: auto;
        height: auto;
        background: none;
        margin-top: 1rem;
        z-index: 0;

    }

    div.filter-card div.card {
        width: 320px;
        margin-left: 1rem;

        border: 1px solid #dee2e6 !important;
        border-radius: 0.25rem;
    }

    div.filter-card.collapsing {
        -webkit-transition-property: width, visibility;
        transition-property: width, visibility;
        width: 0;
        height: auto;
        opacity: 1;
    }
}

@media (max-width: 420px) {
    div[id^=_altmetric_popover_el].altmetric-embed div#_altmetric_container.altmetric_container div#_altmetric_popover_inner.altmetric-popover-inner.altmetric-floating {
        width: 180px !important;
    }
}


div.paper-cover {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: rgba(.3, .3, .3, .3);
    display: none;
}

div.score-helper {
    position: absolute;
    top: 0;
    left: 4px;
}

div.paper-card-badge {
    float: right;
    margin-top: -15px;
    padding-left: 10px;
}

label.nav-link {
    cursor: pointer;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

#world-map .jvectormap-container, #world-map .jvectormap-container svg {
    overflow: visible;
}

.paper-detail-card-top-badge {
    right: 1em;
    top: 0.5em;
}

.search-error {
    text-align: center;
}

.search-error ul {
    text-align: left;
}

.abstract-container em, .author em, .paper-title em, .author-suggestions em {
    font-weight: bold;
    font-style: normal;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.sort-select {
    vertical-align: middle;
    background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center;
    background-size: auto 12px;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 1.75rem;
    border-radius: .25rem;
}

#statistics-label > button {
    margin-top: -3px;
    border: 1px solid #ced4da;
}

.search-info-container {
    flex: 0 0 160px;
}

.search-info-container label > button, .search-info-container label > select {
    width: 160px;
}

@media (min-width: 768px) {
    .search-info-container {
        flex: 0 0 340px;
    }
}

.badge-info-light {
    color: #fff;
    background-color: #3c7d97;
}

.tooltip-inner {
    max-width: none;
}


/** Selectable List Group **/

.selectable-list-group {
    background-color: #c2c2c2;
    background-image: linear-gradient(45deg, #ababab 25%, #a09fa1 25%, #a09fa1 50%, #ababab 50%, #ababab 75%, #a09fa1 75%, #a09fa1 100%);
    background-size: 28.28px 28.28px;
}

.selectable-list-group .list-group-item {
    user-select: none;
    margin-bottom: -1px !important;
}

.selectable-list-group .list-group-item:first-of-type {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.list-group.selectable-list-group input[type="checkbox"] {
    display: none;
}

.list-group.selectable-list-group input[type="checkbox"] + .list-group-item {
    cursor: pointer;
}

.list-group.selectable-list-group input[type="checkbox"] + .list-group-item .selector:before {
    content: "\2713";
    color: transparent;
    font-weight: bold;
    margin-right: 1em;
    font-size: x-large;
}

.list-group.selectable-list-group input[type="checkbox"]:not(:checked) + .list-group-item div.text-muted {
    color: #e9e9e9 !important;
}

.list-group.selectable-list-group input[type="checkbox"] + .list-group-item a {
    color: #fff;
}

.list-group.selectable-list-group input[type="checkbox"] + .list-group-item {
    color: #fff;
    background: transparent;
}

.list-group.selectable-list-group input[type="checkbox"]:checked + .list-group-item {
    background-color: #fff;
    color: #1c1c1c;
}

.list-group.selectable-list-group input[type="checkbox"]:checked + .list-group-item a {
    color: #0275d8;
}

.list-group.selectable-list-group input[type="checkbox"]:checked + .list-group-item .selector:before {
    color: inherit;
}

/** Selectable List Group End */

.paper-card-badges-container a, .paper-card-badges-container a:hover
{
    line-height: 1;
    text-decoration: none;
}

.paper-card-badges-container a span.badge
{
    white-space: normal;
}

.paper-card-badges-container a span.topic-badge
{
    background: #007799;
    color: #ffffff;
}