option_settings:
  aws:elasticbeanstalk:container:python:
    DJANGO_SETTINGS_MODULE: covid19_publications.settings
    WSGIPath: covid19_publications/wsgi.py

container_commands:
  01_static:
    command: "python manage.py collectstatic"
    leader_only: true
  02_migrate:
    command: "python manage.py migrate"
    leader_only: true
  03_loaddata:
    command: "python manage.py loaddata db-202003282337.json && python manage.py loaddata 202003291843_authors.json && python manage.py loaddata topics"
    leader_only: true
  04_setup_images:
    command: "python setup/image_downloader.py"
    leader_only: true

