option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: covid19_publications/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: covid19_publications.prod_settings
    USE_PAPER_ANALYZER: 1

packages:
  yum:
    git: []
    postgresql93-devel: []

c
  01_static:
    command: "python manage.py collectstatic"
  02_migrate:
    command: "python manage.py migrate"
  03_loaddata:
    command: "python manage.py loaddata db-202003292022.json"
  04_lda:
    command: "python setup/lda_setup.py"




