option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: covid19_publications/wsgi.py
  aws:elasticbeanstalk:application:environment:
    USE_PAPER_ANALYZER: 1
    TORCH_HOME: /opt/python/torch

files:
  "/etc/httpd/conf.d/wsgi_custom.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      WSGIApplicationGroup %{GLOBAL}
  "/opt/elasticbeanstalk/tasks/taillogs.d/django.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/app-logs/django.log
  "/opt/elasticbeanstalk/tasks/taillogs.d/cron.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/app-logs/cron.log

packages:
  yum:
    git: []
    postgresql93-devel: []
    poppler-utils: []
    java-1.8.0-openjdk: []

container_commands:
  00_create_dir:
    command: mkdir -p /var/log/app-logs
  01_change_permissions:
    command: chmod -R g+s /var/log/app-logs
  02_change_owner:
    command: chown -R wsgi:wsgi /var/log/app-logs
  03_change_default_owner:
    command: setfacl -d -m g::rw /var/log/app-logs
  04_tika:
    command: "touch /tmp/tika.log && chmod 666 /tmp/tika.log"
  05_change_java:
    command: "sudo update-alternatives --set java /usr/lib/jvm/jre-1.8.0-openjdk.x86_64/bin/java"
  10_static:
    command: "python manage.py collectstatic"
  20_migrate:
    command: "python manage.py migrate"
  21_load_pdf_contents:
    command: "python setup/load_pdf_contents.py"
  30_setup_vectorizers:
    command: "python setup/setup_vectorizers.py"
  40_superuser:
    command: "python setup/create_superuser.py"
  50_set_permissions:
    command: "chmod 777 analyze/res && find analyze/res -type d -exec chmod 777 {} \\; && find analyze/res -type f -exec chmod 666 {} \\;"
  80_remove_cron:
    command: "python manage.py crontab remove"
  90_add_cron:
    command: "python manage.py crontab add"





