option_settings:
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.large


Resources:
    AWSEBAutoScalingLaunchConfiguration:
        Type: AWS::AutoScaling::LaunchConfiguration
        Properties:
            BlockDeviceMappings:
               - DeviceName: /dev/xvda
                 Ebs:
                     VolumeSize:
                        16
