{% extends "core/base.html" %}
{% load static %}
{% block content %}


    <div class="gradient-header text-white">
        <div class="container py-5">
            <div class="row h-100 align-items-center py-5">

                <div class="col-lg-4">
                    <img src="{% static "core/img/faq.png" %}" class="img-fluid rounded">
                </div>

                <div class="col-lg-8 pl-5">
                    <h1 class="display-4">About Us</h1>
                    <p class="muted-white lead mb-0">
                        Since 13th January 2020, {{ paper_count }} articles concerning SARS-CoV-2 were published.
                        Many of them are not reviewed in a professional reviewing process at the time of publication.

                        Our objective is to develop an easy to use interface to access, sort and classify the huge
                        amount of articles about the
                        Coronavirus.

                    </p>
                </div>

            </div>
        </div>
        {% include 'core/partials/_rounded_bottom.html' %}
    </div>

    <div class="py-5">

        <div class="container">

            <div class="row mt-2 mb-5">
                <div class="col-12">
                    <h2 class="display-4 font-weight-light">Frequently Asked Questions</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">

                    <div class="card-block shadow bg-white rounded">

                        <h3 class="card-title px-4 pt-4 pb-0">Features</h3>
                        <hr>
                        <div class="card-body mt-0 pt-0 px-4 pb-4">
                            <ul>
                                <li>List and access published articles</li>
                                <li>Sort and filter articles by publishing date, authors name, category, journal,
                                    location, title and
                                    content
                                </li>
                                <li>
                                    Get a list of recommended papers related to a specific question
                                </li>
                                <li>
                                    Classification of papers into one or more predefined categories
                                </li>
                                <li>
                                    List similar papers for a publication
                                </li>
                                <li>
                                    Find relations of articles to real-world locations.
                                    An overview is accessible as a world map.
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="card-block shadow bg-white rounded mt-4">

                        <h3 class="card-title px-4 pt-4 pb-0">Is Collabovid ready-to-use?</h3>
                        <hr>
                        <div class="card-body mt-0 pt-0">
                            This website was created during the
                            <a href="https://covid-global-hackathon.devpost.com">COVID-19 Global Hackathon</a> at the
                            end
                            of March 2020. Since then, Collabovid is updated and improved very frequently.
                            Please note that the website
                            is still under development. We are always looking for feedback to improve the site.
                            We kindly ask you to fill out our <a
                                href="https://collabovid-feedback.limequery.org/321314?lang=en">feedback survey</a>
                            or write an <a href="mailto:info@collabovid.org?Subject=Collabovid%20Feedback">email</a>.
                        </div>

                    </div>
                </div>

                <div class="col-md-6">

                    <div class="card-block shadow bg-white rounded">

                        <h3 class="card-title px-4 pt-4 pb-0">Upcoming Features</h3>
                        <hr>
                        <div class="card-body mt-0 pt-0">
                            <ul>
                                <li>
                                    Allow verified experts to evaluate and review the papers informally to introduce a
                                    discussion before the paper is published officially and provide indications for the
                                    quality
                                    of the articles
                                </li>
                                <li>
                                    Integrate new data sources
                                </li>
                                <li>
                                    Improve the search engine
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="card-block shadow bg-white rounded mt-4">

                        <h3 class="card-title px-4 pt-4 pb-0">Where does the research data come from?</h3>
                        <hr>
                        <div class="card-body mt-0 pt-0">
                            <ul>
                                <li>The database contains all papers from the <a
                                        href="https://connect.medrxiv.org/relate/content/181">medRxiv</a> /
                                    <a href="https://connect.biorxiv.org/relate/content/181">bioRxiv</a> COVID-19
                                    SARS-CoV-2
                                    preprints page. Furthermore, we include publications from <a
                                            href="https://arxiv.org/covid19search">arXiv</a>,
                                    <a href="https://www.elsevier.com/clinical-solutions/coronavirus-research-hub">Elsevier</a>
                                    and
                                    <a href="https://pubmed.ncbi.nlm.nih.gov/?term=(%222019/12/01%22[Date%20-%20Create]%20:%20%223000%22[Date%20-%20Create])%20AND%20((COVID-19)%20OR%20(SARS-CoV-2)%20OR%20(Coronavirus))%20AND%20Journal%20Article[ptyp]">PubMed</a>.
                                    All sources are updated several times a day.
                                </li>

                                <li>
                                    The category assignment model was trained on the
                                    <a href="https://www.ncbi.nlm.nih.gov/research/coronavirus/">LitCovid</a> dataset.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card-block shadow bg-white rounded mt-4">

                        <h3 class="card-title px-4 pt-4 pb-0">How does it work?</h3>
                        <hr>
                        <div class="card-body mt-0 pt-0">
                            <strong>Semantic Search:</strong>
                            Our semantic search should be used to explore a previously unknown research field.
                            It works best when the user provides us with a sentence or question about a COVID-19
                            related research field, i.e. "How does COVID-19 affect childrens mental health?".
                            The search algorithm is able to analyze and generalize
                            a given query and provide the user with
                            papers that match the query's topic. It is capable of recognizing connections
                            between words, e.g. temperature, weather, humidity. These connections are used
                            to show papers of the overall topics that do not necessarily contain any word that the
                            user provided.
                            We use natural language processing techniques
                            to find correlations between a given query and the content of a paper. For semantic
                            analysis, we trained a BERT model on our dataset that learned to find similarities
                            between papers and a given query.<br><br>
                            <strong>Keyword Search:</strong> The keyword search uses
                            <a href="https://www.elastic.co/">Elasticsearch</a> to find papers with matching
                            keywords in their title, abstract or authors. Despite being very efficient when the user
                            provides a good set of keywords, the search is not able to generalize the search
                            query.<br><br>
                            <strong>Category Assignment:</strong>
                            The category
                            assignment is computed by a machine learning algorithm. The model was trained with
                            an existing dataset from
                            <a href="https://www.ncbi.nlm.nih.gov/research/coronavirus/">LitCovid</a>. LitCovid
                            is a curated literature hub for tracking scientific information about SARS-CoV-2.
                            Collabovid is an open source project that is licenced under GNU General Public
                            License v3.0. The source code can be found at
                            <a href="https://github.com/michip/collabovid">GitHub</a>.
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="py-4">
        <div class="container mentions-container">
            <div class="row">
                <div class="col-12">
                    <h2 class="display-4 font-weight-light">Hackathons</h2>
                </div>
            </div>

            <div class="row">

                <div class="col-12 col-lg-4 col-md-8 offset-lg-0 offset-md-2 mt-3">
                    <div class="card shadow">
                        <div class="card-image tech-takes-on-covid19">
                            <img class=""
                                 src="{% static "core/img/partners/tech-takes-on-covid19.png" %}">
                        </div>
                        <div class="card-body">
                            <span class="badge badge-info float-right">1st Place</span>
                            <h5 class="card-title">#TechTakesOnCOVID</h5>
                            <p class="card-text">
                                Join forces with Terminal’s engineering community to develop working solutions
                                to fight COVID-19.

                            </p>
                            <a href="https://terminal-hackathon.devpost.com/" class="btn btn-light float-right">
                                Info page
                            </a>
                        </div>
                    </div>
                </div>


                <div class="col-12 col-lg-4 col-md-8 offset-lg-0 offset-md-2 mt-3">

                    <div class="card shadow">
                        <div class="card-image covid19-global">
                            <img class=""
                                 src="{% static "core/img/partners/covid19-global.png" %}">
                        </div>
                        <div class="card-body">
                            <span class="badge badge-info float-right">Highlighted project</span>
                            <h5 class="card-title">#BuildforCOVID19</h5>
                            <p class="card-text">
                                Collabovid was one of the highlighted projects of the COVID-19 Global Hackathon.
                                The hackathon was an opportunity for developers to build software
                                solutions that drive social impact, with the aim of tackling some of the
                                challenges
                                related to the current coronavirus pandemic.
                            </p>
                            <a href="https://covidglobalhackathon.com/" class="btn btn-success float-right">
                                Highlighted projects
                            </a>
                        </div>
                    </div>

                </div>


                <div class="col-12 col-lg-4 col-md-8 offset-md-2 offset-lg-0 col-md-4 mt-3">
                    <div class="card shadow">
                        <div class="card-image hack-quarantine">
                            <img class="card-img-top"
                                 src="{% static "core/img/partners/hack-quarantine.png" %}">
                        </div>
                        <div class="card-body">
                            <span class="badge badge-info float-right">2nd Place</span>
                            <h5 class="card-title">Hack Quarantine</h5>
                            <p class="card-text">
                                A fully-online, people-focused hackathon bringing people together to use their skills to
                                help combat the issues the world is facing with the COVID-19 pandemic.
                            </p>
                            <a href="https://hackquarantine.com/" class="btn btn-light float-right">
                                Info page
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="py-4">
        <div class="container">

            <div class="row mb-4">
                <div class="col-lg-5">
                    <h2 class="display-4 font-weight-light">Our Team</h2>
                    <p class="font-italic text-muted"></p>
                </div>
            </div>

            <div class="row text-center">
                <!-- Team item-->
                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><img
                            src="{% static "core/img/jonas.jpg" %}" alt=""
                            width="200" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Jonas Dippel</h5><span class="small text-uppercase text-muted">Student TU Berlin</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="mailto:j.dippel@campus.tu-berlin.de"
                                                            class="social-link"><i
                                    class="fas fa-envelope"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="https://linkedin.com/in/jdippel/" class="social-link"><i
                                    class="fab fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4">
                        <img src="{% static "core/img/yannic.jpg" %}" alt="" width="200"
                             class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Yannic Lieder</h5><span
                            class="small text-uppercase text-muted">Student TU Braunschweig</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="mailto:y.lieder@tu-bs.de" class="social-link"><i
                                    class="fas fa-envelope"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/ylieder/"
                                                            class="social-link"><i class="fab fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End-->

                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4">
                        <img src="{% static "core/img/eike.jpg" %}" alt="" width="200"
                             class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Eike Niehs</h5><span
                            class="small text-uppercase text-muted">Student TU Braunschweig</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="mailto:e.niehs@tu-bs.de" class="social-link"><i
                                    class="fas fa-envelope"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="offset-lg-2 col-lg-4 col-md-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4">
                        <img src="{% static "core/img/michael.jpg" %}" alt="" width="200"
                             class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Michael Perk</h5><span
                            class="small text-uppercase text-muted">Student TU Braunschweig</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="mailto:m.perk@tu-bs.de" class="social-link"><i
                                    class="fas fa-envelope"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/michael-perk"
                                                            class="social-link"><i class="fab fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="offset-lg-0 offset-md-3 col-lg-4 col-md-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4">
                        <img src="{% static "core/img/moritz.jpg" %}" alt="" width="200"
                             class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Moritz Pfister</h5><span
                            class="small text-uppercase text-muted">Student TU Braunschweig</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="mailto:m.pfister@tu-bs.de" class="social-link"><i
                                    class="fas fa-envelope"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/moritz-pfister/"
                                                            class="social-link"><i class="fab fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}

{% block css %}
{% endblock %}