{% extends "core/base.html" %}
{% load static %}
{% load pipeline %}
{% load paper_card_extras %}

{% block content %}
    <div class="gradient-header pb-0">
        <div class="row">
            <div class="col-12">
                <div style="height: 500px;">
                    <div id="canvas-container">
                        <canvas id="visualization-container"></canvas>
                    </div>
                </div>
                <div class="legend">
                    <ul>
                        <li>Treatment</li>
                        <li>Prevention</li>
                    </ul>
                </div>
            </div>
        </div>
        {% include 'core/partials/_rounded_bottom.html' %}
    </div>
    <div class="container mt-5">
        <div id="selected-card-container"></div>
    </div>
    <div class="pl-5 pr-5">
    <div id="topics-container" class="row">
            {% for topic in topics %}
                <div class="col-md-3 p-2">
                    <div class="topic-card card p-3 h-100" data-topic="{{ topic.pk }}">{{ topic.name }}
                        ({{ topic.papers.count }})
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/18.6.0/tween.umd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/7.0.1/math.min.js"></script>
    {% javascript 'embedding-visualization' %}
    <script>
        var topics = JSON.parse("{{ topic_dict | escapejs }}")
        var canvas = document.getElementById('visualization-container');
        var selectedCardContainer = document.getElementById('selected-card-container');
        var visualization = new EmbeddingVisualization()
        var topicsContainer = $('#topics-container')

        function onSelected(idx, paper) {
            var indices = visualization.computeNeighbors(paper, 10)
            var dois = [paper.doi];
            indices.forEach((i) => {
                dois.push(visualization.papers[i].doi)
            })
            visualization.selectPaper(idx, indices);

            $.get('/paper-cards/', {
                'dois': JSON.stringify(dois)
            }, function (data) {
                selectedCardContainer.innerHTML = data
                topicsContainer.hide()
            })
        }

        visualization.renderEmbeddings(canvas, onSelected, {
                'imageUrl': '/static/img/atlas.jpg',
                'fileUrl': '/static/embeddings_3d_scaled.json'
            }
        )

        visualization.onDeselect(function () {
            selectedCardContainer.innerHTML = ""
            topicsContainer.show()
        });

        $('.topic-card').on('click', function (e) {
            var topicId = $(e.target).data('topic')
            var paperIds = topics[topicId];
            visualization.selectPapers(paperIds);
        })

    </script>
{% endblock %}

{% block css %}
    <style>
        #visualization-container {
            height: 100%;
            width: 100%;
            outline: none !important;
            border: none !important;
        }

        #visualization-container:focus {
            border: none !important;
        }

        #canvas-container {
            top: 0;
            position: absolute;
            width: 100%;
        }

        .legend {
            position: absolute;
            right: 0;
            margin-right: 50px;
            top: 100px;
            color: white;
        }

        .gradient-header {
            overflow: hidden;
            padding-top: 0;
        }

        #selected-card-container {
        }
    </style>
{% endblock %}