{% extends "core/base.html" %}
{% load static %}
{% load pipeline %}
{% block content %}

    <div class="gradient-header">
        <div class="container py-3 text-white">
            <div class="row h-100 align-items-center py-5">
                <div class="col-lg-8">
                    <h1 class="display-4">Explore COVID-19 Publications</h1>
                    <p class="muted-white lead mb-0">
                        A lot of research articles concerning SARS-CoV-2/COVID-19 are
                        published every day. Many of them, so-called <em>pre-prints</em>, are not reviewed in a professional reviewing process at the time of publication.
                        Others are already reviewed and published in well-known journals.
                        Collabovid helps researchers to identify the most relevant information by using
                        Natural Language Processing.
                        You can search for any topic you want below.
                        Visit <a class="muted-white" href="{% url "search" %}">search</a> to review all articles or
                        browse a list of
                        predefined <a class="muted-white" href="{% url "topic-overview" %}">topics</a>. For additional
                        help visit the
                        <a class="muted-white" href="{% url "about" %}">frequently asked questions</a>.
                    </p>
                </div>
                <div class="col-lg-4">
                    <img src="{% static "core/img/research.png" %}" class="img-fluid rounded">
                </div>
            </div>

        </div>

        <div class="container">
            <br/>
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <form action="{% url "search" %}" method="GET"
                          id="topic-search-form">
                        <div class="search-bar-rounded-corners card card-sm">
                            <div class="search-form-card-body row no-gutters align-items-center">

                                <div class="col-lg-10 col-md-10 col-sm-11 col">

                                    <div class="row align-items-center">

                                        <div class="col-0 col-sm-0 col-md-1 col-lg-1 col-xl-1">
                                            <span class="d-none d-sm-none d-md-inline d-lg-inline d-xl-inline">
                                                <i class="fas fa-search fa-2x text-body"></i>
                                            </span>
                                        </div>
                                        <!--end of col-->
                                        <div class="col">
                                            <input name="search"
                                                   class="form-control search-form-control form-control-borderless"
                                                   type="text"
                                                   placeholder="E.g. impact of weather on transmission">
                                        </div>
                                    </div>

                                </div>
                                <!--end of col-->
                                <div class="col-lg-2 col-md-2 col-sm-1 col-auto text-center">
                                    <button class="btn btn-lg btn-info
                                    d-none d-sm-none d-md-block d-lg-block d-xl-block" type="submit">
                                        <span class="">Search</span>
                                    </button>
                                    <button class="btn btn-info
                                    d-block d-sm-block d-md-none d-lg-none d-xl-none rounded-circle text-white"
                                            type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>

                                </div>
                                <!--end of col-->
                            </div>
                        </div>

                    </form>
                </div>
                <!--end of col-->
            </div>
        </div>
        {% include 'core/partials/_rounded_bottom.html' with color='white' %}
    </div>

    <div class="bg-white">
        <div class="container py-5">

            <div class="row align-items-center">
                <div class="col-lg-5 order-2 order-lg-1 col-12">
                    <h2 class="font-weight-light">Helping researchers</h2>
                    <p class="font-italic text-muted">Since January 2020, <b>{{ statistics.paper_count }}</b>
                        articles
                        concerning the
                        coronavirus were indexed by our service. Of these publications,
                        <b>{{ statistics.paper_today_count }}</b> appeared today and
                        <b>{{ statistics.papers_last_week }}</b> have been released in the past week. For
                        researchers, it is impossible to review every single one manually.
                        Therefore, Natural Language Processing techniques are needed to filter out the most relevant
                        information and
                        allow researchers to make faster progress in fighting the crisis.

                </div>
                <div class="col-lg-7 mx-auto order-1 order-lg-2 col-12">
                    <canvas id="publicationsOverTimeChart" style="width:100%; height: 300px;"></canvas>
                </div>
            </div>


            <div class="row align-items-center">
                <div class="col-lg-5 mx-auto mt-4">
                    <canvas id="paperHostDistribution" style="width: 100%;height:300px;"></canvas>
                </div>
                <div class="col-lg-6 mt-4">
                    <h2 class="font-weight-light">Our data sources</h2>
                    <p class="font-italic text-muted">
                        Collabovid currently indexes COVID-19/SARS-CoV-2-related papers
                        from
                        <a href="https://connect.medrxiv.org/relate/content/181">medRxiv</a>,
                        <a href="https://connect.biorxiv.org/relate/content/181">bioRxiv</a>,
                        <a href="https://arxiv.org/covid19search">arXiv</a> and
                        <a href="https://pubmed.ncbi.nlm.nih.gov/?term=(%222019/12/01%22[Date%20-%20Create]%20:%20%223000%22[Date%20-%20Create])%20AND%20((COVID-19)%20OR%20(SARS-CoV-2)%20OR%20(Coronavirus))%20AND%20Journal%20Article[ptyp]">PubMed</a>.
                        This dataset is updated
                        automatically
                        several times a day. We are working hard
                        on including new data sources.</p>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-lg-6 order-2 order-lg-1 col-12">
                    <h2 class="font-weight-light">Are you an expert?</h2>
                    <p class="font-italic text-muted mb-4">
                        We are looking for medical researchers or other people that are currently working on COVID-19
                        publications to
                        improve Collabovid and gain insights into your workflow. If you want to help us, please leave us
                        a <a href="mailto:info@collabovid.org">message</a>.
                    </p>
                </div>
                <div class="col-lg-4 mx-auto order-1 order-lg-2 col-md-6 col-8">
                    <img src="{% static 'core/img/collaborate.png' %}" class="img-fluid">
                </div>
            </div>

        </div>
    </div>

    <div>
        <div class="container py-5">
            <div class="row">
                <div class="col-12">
                    <h2 class="display-5 font-weight-light">Most Recent Papers</h2>
                </div>
            </div>

            <div class="row mt-3 align-items-center">

                <div class="col-lg-7 col-md-12">
                    <div class="card w-100 shadow rounded bg-white">
                        <ul class="list-group">
                            {% for paper in most_recent_papers %}
                                <li class="list-group-item">
                                    {{ paper.title }}
                                    <div class="text-muted small mt-2">
                                        {{ paper.published_at }} &middot; {{ paper.host.name }}
                                        <a href="{{ paper.pdf_url }}" class="float-right">
                                            Read more
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>


                <div class="col-lg-5 d-lg-block d-none">
                    <div class="row">
                        <div class="col-md-5 col-lg-5 col-sm-2 mx-auto stack stack-fanout">
                            {% for paper in most_recent_papers reversed %}
                                <div style="height: 240px; background: white">
                                    {% if paper.preview_image %}
                                        <img style="max-height: 200px" class="img-fluid"
                                             src="{{ paper.preview_image.url }}">
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

    {% javascript 'charts' %}

    <script>
        $(document).ready(function () {
            let published_at_data = JSON.parse('{{ statistics.published_at_data|escapejs }}');
            let paper_host_data = JSON.parse('{{ statistics.paper_host_data|escapejs }}');

            $("#publicationsOverTimeChart").publicationsOverTime({plot_data: published_at_data});
            $("#paperHostDistribution").paperHostDistribution({plot_data: paper_host_data});


            function elementInViewport(el) {
                var top = el.offsetTop;
                var left = el.offsetLeft;
                var width = el.offsetWidth;
                var height = el.offsetHeight;

                console.log(top)

                while (el.offsetParent) {
                    el = el.offsetParent;
                    top += el.offsetTop;
                    left += el.offsetLeft;
                }
                return (
                    top >= window.pageYOffset &&
                    left >= window.pageXOffset &&
                    (top + height) <= (window.pageYOffset + window.innerHeight) &&
                    (left + width) <= (window.pageXOffset + window.innerWidth)
                );
            }

            function checkAnimation() {
                var $elem = $('.stack');

                // If the animation has already been started
                if ($elem.hasClass('active')) return;

                if (elementInViewport($elem.get()[0])) {
                    // Start the animation
                    $elem.addClass('active');
                }
            }

            $(window).scroll(function () {
                checkAnimation();
            });
        });

    </script>

{% endblock %}

{% block css %}
{% stylesheet 'charts' %}
{% endblock %}