<!DOCTYPE html>
<html>
<head>
    <title>jVectorMap demo</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "core/jquery-jvectormap-2.0.5/jquery-jvectormap-2.0.5.css" %}" type="text/css" media="screen"/>
    <script src="{% static "core/jquery-3.5.1.min.js" %}"></script>
    <script src="{% static "core/jquery-jvectormap-2.0.5/jquery-jvectormap-2.0.5.min.js" %}"></script>
    <script src="{% static "core/jquery-jvectormap-2.0.5/jquery-jvectormap-world-merc.js" %}"></script>
</head>
<body>
<div id="world-map" style="width: auto; height: 800px"></div>
<script>
    $(function(){
        var country_values = {
            {% for country in countries %}
                '{{ country.alpha_2 }}': {{ country.count }},
            {% endfor %}
        }

        var city_count = [
            {% for city in cities %}
                {{ city.count }},
            {% endfor %}
        ]

        $('#world-map').vectorMap({
            map: 'world_merc',
            scaleColors: ['#C8EEFF', '#0071A4'],
            normalizeFunction: 'polynomial',
            hoverOpacity: 0.7,
            hoverColor: false,
            markerStyle: {
                initial: {
                    fill: '#FF6699',
                    stroke: '#383f47',
                }
            },
            backgroundColor: '#383f47',
            markers: [
                {% for city in cities %}
                    {latLng: ["{{ city.latitude }}", "{{ city.longitude }}"], name: "{{ city.name }}"},
                {% endfor %}

            ],
            series: {
                regions: [{
                    values: country_values,
                    scale: ['#C8EEFF', '#0071A4'],
                    normalizeFunction: 'polynomial'
                }]
            },
            onRegionTipShow: function(e, el, code){
                el.html(el.html()+' ('+country_values[code]+')');
            },
            onMarkerTipShow: function(e, el, code){
                el.html(el.html()+' ('+city_count[code]+')');
            },
        });
    });
</script>
</body>
</html>