{% extends "core/search_base.html" %}
{% load pipeline %}
{% load static %}

{% block css %}
    {% stylesheet 'map' %}
{% endblock %}

{% block content %}
    <div class="gradient-header pb-0">
        <div class="container">
            <div class="row mt-5 pb-5">
                <div class="col-12">
                    <h1 class="display-4 font-weight-light text-white">Places</h1>

                    <div class="muted-white">
                    </div>
                </div>
            </div>
        </div>
        {% include "core/partials/_rounded_bottom.html" %}
    </div>

    <form id="paper-search-form" method="post" action="{% url "search" %}">
        <input type="hidden" name="tab" value="top">
        {% csrf_token %}
    </form>

    <div class="container mt-5">
        <div id="world-map" style="width: auto; height: 400px"></div>

        <div>
            <div id="paper-container"></div>

            <div id="paper-loading-indicator"
                 class="text-muted text-center fa-5x my-5"
                 style="display: none;">
                <i class="fas fa-circle-notch fa-spin"></i>
            </div>

            <nav class="mt-5" id="pagination-container"></nav>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    {% javascript 'map' %}

    <script>
        $(document).ready(function () {
            let countries = JSON.parse("{{ countries|escapejs }}");
            let cities = JSON.parse("{{ cities|escapejs }}");

            let form = $("#paper-search-form");
            let indicator = $("#paper-loading-indicator");
            let paper_container = $("#paper-container");
            let pagination_container = $("#pagination-container");


            let searchEngine = form.collabovidSearch({
                indicator: indicator,
                paper_container: paper_container,
                pagination_container: pagination_container
            });

            form.submit(function (e) {
                e.preventDefault();
                searchEngine.searchQuery(form.serialize(), 1, false, function () {
                }, function () {

                });
            });


            let city_count = [];
            let city_markers = [];
            $.each(cities, function (index, city) {
                city_count.push(city.count);
                city_markers.push({latLng: [city.lat, city.lon], name: city.name});
            });

            $('#world-map').vectorMap({
                map: 'world_merc',
                scaleColors: ['#C8EEFF', '#0071A4'],
                normalizeFunction: 'polynomial',
                hoverOpacity: 0.7,
                hoverColor: false,
                zoomButtons: false,
                markerStyle: {
                    initial: {
                        fill: '#ff5e5e',
                        stroke: '#383f47',
                    },
                    selected: {
                        fill: '#ffc000'
                    }
                },
                regionStyle: {
                    initial: {
                        fill: '#b3b3b3'
                    },
                    selected: {
                        fill: '#ffc000'
                    }
                },
                backgroundColor: '#F5F5F5',
                markers: city_markers,
                series: {
                    regions: [{
                        values: countries,
                        scale: ['#C8EEFF', '#0071A4'],
                        normalizeFunction: 'polynomial'
                    }]
                },
                onRegionTipShow: function (e, el, code) {
                    let count = 0;
                    if (countries[code] !== undefined) count = countries[code];

                    el.html(el.html() + ' (' + count + ')');
                },
                onMarkerTipShow: function (e, el, code) {
                    let count = 0;
                    if (city_count[code] !== undefined) count = city_count[code];

                    el.html(el.html() + ' (' + count + ')');
                },
                onRegionClick: function (event, code) {
                    let mapObject = $('#world-map .jvectormap-container').data('mapObject');
                    mapObject.clearSelectedMarkers();
                    if (mapObject.getSelectedRegions().includes(code)) {
                        mapObject.clearSelectedRegions()
                    } else {
                        mapObject.clearSelectedRegions();
                        mapObject.setSelectedRegions([code]);

                        form.submit();
                    }
                },
                onMarkerClick: function (event, code) {
                    let mapObject = $('#world-map .jvectormap-container').data('mapObject');
                    mapObject.clearSelectedRegions();
                    if (mapObject.getSelectedMarkers().includes(code)) {
                        mapObject.clearSelectedMarkers();
                    } else {
                        mapObject.clearSelectedMarkers();
                        mapObject.setSelectedMarkers([code])
                    }
                }
            });
        });
    </script>
{% endblock %}
