{% extends "core/base.html" %}
{% load static %}
{% block content %}

    <div>
        <div class="gradient-header">
            <div class="topic_header">
                <div class="container">
                    <div class="row">

                        <div class="col-12">
                            <h2 class="text-white display-4">{{ topic.name }}</h2>

                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-8">
                            <div id="topic-description"
                                 class="muted-white {% if topic.description|length > 1000 %}topic_description{% endif %}">
                                {{ topic.description_html | safe }}
                            </div>
                        </div>

                        <div class="col-4">
                            <img src="{% static topic.icon_path %}" class="img-fluid">
                        </div>
                    </div>

                    {% if topic.description|length > 1000 %}
                        <div class="row">
                            <div class="col-12 text-center">
                                <a class="muted-white" id="expand-description" href="#">
                                    <i class="fas fa-2x fa-arrow-circle-down"></i>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% include 'core/partials/_rounded_bottom.html' %}
        </div>
        <div class="container">
            {% include "core/partials/_filter.html" with filter=True script=False css=False action=search_url categories=categories best_matching=True card=True %}
        </div>

        <div id="paper-container" class="container">
        </div>

        <div id="paper-loading-indicator" class="text-muted text-center fa-5x my-5" style="display: none;">
            <i class="fas fa-circle-notch fa-spin"></i>
        </div>

        <nav id="pagination-container"></nav>
    </div>


{% endblock %}

{% block script %}
    {% include "core/partials/_filter.html" with load_default=True script=True filter=False css=False result_container_id="paper-container" indicator_id="paper-loading-indicator" %}

    <script>
        $(document).ready(function () {
            $("#expand-description").click(function (e) {
                e.preventDefault();
                var el = $('#topic-description'),
                    curHeight = el.height(),
                    autoHeight = el.removeClass("topic_description").height();

                $(this).parents(".row").slideUp();
                el.height(curHeight).animate({height: autoHeight}, 1000);
                el.removeClass('topic_description');
            });
        })
    </script>
    {% include 'core/partials/_paper_card.html' with script=True html=False %}
{% endblock %}

{% block css %}
    {% include "core/partials/_filter.html" with css=True filter=False script=False %}
{% endblock %}