{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Location Sanitizing</h1>
    </div>

    {% for location_paper in location_papers %}
        <div class="row mb-2">
            <div class="col-12 my-auto">
                {{ location_paper.paper.title }}
            </div>
        </div>
        {% for location_ms in location_paper.locations.all %}
            <div class="row mb-2">
                <div class="col-1 my-auto"></div>
                <div class="col-2 my-auto">
                    {{ location_ms.word }}
                </div>
                <div class="col-1 my-auto">
                    →
                </div>
                <div class="col-4 my-auto">
                    {{ location_ms.location.name }}
                </div>
            </div>
        {% endfor %}
    {% empty %}
        <div class="row mb-2">
            <div class="col-4">
                <span>No locations available.</span>
            </div>
        </div>
    {% endfor %}
{% endblock %}