{% extends "core/base.html" %}
{% load static %}
{% block content %}


    <div class="gradient-header text-white">
        <div class="container py-5">
            <div class="row h-100 align-items-center py-5">
                <div class="col-lg-8">
                    <h1 class="display-4">About Us</h1>
                    <p class="muted-white lead mb-0">
                        This page was created during
                        <a class="muted-white" href="https://covid-global-hackathon.devpost.com/">#BuildforCOVID19</a>
                        Global Online
                        Hackathon.

                        Since 13th January 2019, 882 articles, concering the COVID-19 virus, are pulished on preprint
                        servers (State: 2020/03/29).
                        This is an average of <strong>more than eleven papers per day</strong>. Most of these papers are
                        not reviewed
                        in a professional
                        reviewing process at the time of publication on the preprint server.

                        Our objective is to develop an easy to use interface to access, sort and classify the huge
                        amount of articles about the
                        COVID-19 virus.

                    </p>
                </div>

                <div class="col-lg-4">
                    <img src="{% static "core/img/research.jpg" %}" class="img-fluid rounded">
                </div>
            </div>
        </div>
        {% include 'core/partials/_rounded_bottom.html' %}
    </div>

    <div class="py-5">

        <div class="container">

            <div class="row mt-2 mb-5">
                <div class="col-12">
                    <h2 class="display-4 font-weight-light">Frequently Asked Questions</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">

                    <div class="card-block shadow bg-white rounded">

                        <h3 class="card-title px-4 pt-4 pb-0">Features</h3>
                        <hr>
                        <div class="card-body mt-0 pt-0 px-4 pb-4">
                            <ul>
                                <li>List and access all available preprints.</li>
                                <li>Sort and filter preprints by publishing date, authors name, title,
                                    keywords and category.
                                </li>
                                <li>Get a list of all papers, related to one of the predefined topics
                                </li>
                                <li>Get a list of recommended papers related to a specific question
                                </li>
                                <li>Sort papers by authors credits <a href="https://scholar.google.com">Google
                                    Scholar</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="card-block shadow bg-white rounded mt-4">

                        <h3 class="card-title px-4 pt-4 pb-0">Is this website ready-to-use?</h3>
                        <hr>
                        <div class="card-body mt-0 pt-0">
                            This website was created during the
                            <a href="https://covid-global-hackathon.devpost.com">COVID-19 Global Hackathon</a>
                            and is just a proof-of-concept.
                            In the current state, we cannot guarantee that the list of papers is always complete.
                            The number of citations per author is collected automatically and the correctness of the
                            author
                            mapping is not verified yet.
                        </div>

                    </div>

                    <div class="card-block shadow bg-white rounded mt-4">

                        <h3 class="card-title px-4 pt-4 pb-0">What's the difference between category and topic?</h3>
                        <hr>
                        <div class="card-body mt-0 pt-0">
                            The category represents the subject area, the paper is assigned to on medRxiv/bioRxiv.
                            The topic is a question, asked as a task in the COVID-19 Open Research Dataset Challenge. We
                            classify each paper
                            to one of these questions.
                        </div>

                    </div>
                </div>

                <div class="col-md-6">

                    <div class="card-block shadow bg-white rounded">

                        <h3 class="card-title px-4 pt-4 pb-0">Upcoming Features</h3>
                        <hr>
                        <div class="card-body mt-0 pt-0">
                            <ul>
                                <li>
                                    Allow verified experts to evaluate and review the papers informally to introduce a
                                    discussion before the paper is published officially and provide indications for the
                                    quality
                                    of the articles
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="card-block shadow bg-white rounded mt-4">

                        <h3 class="card-title px-4 pt-4 pb-0">Where does the research data come from?</h3>
                        <hr>
                        <div class="card-body mt-0 pt-0">
                            <ul>
                                <li>The database contains all paper from the <a
                                        href="https://connect.medrxiv.org/relate/content/181">medRxiv</a> /
                                    <a href="https://connect.biorxiv.org/relate/content/181">bioRxiv</a> COVID-19
                                    SARS-CoV-2
                                    preprints page and is updated several
                                    times a day.
                                </li>

                                <li>The number of citations per author is taken from Google Scholar.</li>

                                <li>The different topics are taken from the
                                    <a href="https://www.kaggle.com/allen-institute-for-ai/CORD-19-research-challenge/tasks">COVID-19
                                        Open Research Dataset Challenge (CORD-19)</a>,
                                    initiated inter alia by the Allen Institue for AI (AI2) and the White House.
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="py-4">
        <div class="container">

            <div class="row mb-4">
                <div class="col-lg-5">
                    <h2 class="display-4 font-weight-light">Our Team</h2>
                    <p class="font-italic text-muted"></p>
                </div>
            </div>

            <div class="row text-center">
                <!-- Team item-->
                <div class="col-3 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><img
                            src="{% static "core/img/jonas.jpg" %}" alt=""
                            width="200" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Jonas Dippel</h5><span class="small text-uppercase text-muted">Student TU Berlin</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="https://linkedin.com/in/jdippel/" class="social-link"><i
                                    class="fab fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-3 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4">
                        <img src="{% static "core/img/yannic.jpg" %}" alt="" width="200"
                             class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Yannic Lieder</h5><span
                            class="small text-uppercase text-muted">Student TU Braunschweig</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href=""
                                                            class="social-link"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End-->

                <!-- Team item-->
                <div class="col-3 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4">
                        <img src="{% static "core/img/michael.jpg" %}" alt="" width="200"
                             class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Michael Perk</h5><span
                            class="small text-uppercase text-muted">Student TU Braunschweig</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/michael-perk"
                                                            class="social-link"><i class="fab fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-3 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4">
                        <img src="{% static "core/img/moritz.jpg" %}" alt="" width="200"
                             class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Moritz Pfister</h5><span
                            class="small text-uppercase text-muted">Student TU Braunschweig</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item">
                            </li>
                        </ul>
                    </div>
                </div>


                <!-- End-->

            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}

{% block css %}
{% endblock %}