{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="Researchers from all over the world are working hard on the investigation of the SARS-CoV-2 virus, resulting in many new publications in so-called preprint versions per day, e.g. at medRxiv or bioRxiv.  Time is short and thus Collabovid provides, a good interface to access, sort and classify the huge amount of preprint papers.">
    <meta name="author" content="Jonas Dippel, Yannic Lieder, Michael Perk, Moritz Pfister">
    <meta http-equiv="content-language" content="en-us">

    <title>Collabovid</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static "core/img/favicon/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "core/img/favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "core/img/favicon/favicon-16x16.png" %}">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static "core/include/bootstrap-4.4.1/css/bootstrap.css" %}">

    <script defer src="{% static "core/include/fontawesome-5.13.0/js/all.js" %}"></script>

    <link href="{% static "core/css/roboto.css" %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static "core/css/main.css" %}"/>

    {% block css %}
    {% endblock %}
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark static-top">
    <div class="container">
        <img src="{% static "core/img/logo-green.png" %}" class="img-fluid" width="42px">
        <a class="navbar-brand ml-3" href="{% url 'home' %}">Collabovid</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {% if request.resolver_match.url_name == "home" %}active{% endif %}">
                    <a class="nav-link" href="{% url "home" %}">Home</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == "explore" %}active{% endif %}">
                    <a class="nav-link" href="{% url "explore" %}">Explore</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == "topic-overview" %}active{% endif %}">
                    <a class="nav-link" href="{% url "topic-overview" %}">Topics</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == "about" %}active{% endif %}">
                    <a class="nav-link" href="{% url "about" %}">About</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div id="content" class="">
    <!-- Page Content -->
    {% block content %}
    {% endblock %}
</div>

<footer class="py-3 w-100 bg-white">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img src="{% static "core/img/search.png" %}" class="img-fluid" width="16px">
                <small class="d-inline text-muted">
                    Collabovid &middot; <a href="{% url "imprint" %}">Imprint</a>
                </small>

            </div>
            <div class="col-8 text-right">
                <div class="small text-muted">
                    <div>
                        Vectors created by freepik - <a class=""
                                                        href="https://www.freepik.com/free-photos-vectors/people">www.freepik.com</a>
                    </div>
                    <div>
                        Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
                        and <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from
                        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static "core/include/jquery-3.4.1/js/jquery.min.js" %}"></script>

<script src="{% static "core/include/popper-core-1.16.0/umd/popper.min.js" %}"></script>

<script src="{% static "core/include/bootstrap-4.4.1/js/bootstrap.js" %}"></script>

<script>

    var gradientHeader = $('.gradient-header');
    var navbar = $('#navbarResponsive');

    navbar.on('hidden.bs.collapse', function () {
        gradientHeader.removeClass('gradient-header-extended');
    });

    navbar.on('show.bs.collapse', function () {
        gradientHeader.addClass('gradient-header-extended');
    });

</script>

{% block script %}
{% endblock %}

</body>
</html>