{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Covid-19 Publications</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQRangeSlider/5.7.2/css/classic.min.css"/>
    <link rel="stylesheet" href="{% static "core/css/main.css" %}"/>

    {% block css %}
    {% endblock %}
</head>

<body>

<div class="bg">
    <div class="svg-border-rounded text-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none"
             fill="currentColor">
            <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
        </svg>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark static-top">
    <div class="container">
        <img src="{% static "core/img/search.png" %}" class="img-fluid" width="56px">
        <a class="navbar-brand ml-3" href="#">Covid-19 Publications</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {% if request.resolver_match.url_name == "home" %}active{% endif %}">
                    <a class="nav-link" href="{% url "home" %}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == "about" %}active{% endif %}">
                    <a class="nav-link" href="{% url "about" %}">About</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == "scrape" %}active{% endif %}">
                    <a class="nav-link" href="{% url "scrape" %}">Scrape</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="content">
    <!-- Page Content -->
    {% block content %}
    {% endblock %}

</div>

<footer class="py-5 bg-light w-100">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <small class="d-block mb-3 text-muted">
                    Publication
                </small>
            </div>
            <div class="col-8 text-right">

                <div class="text-muted">Jonas Dippel<a class="ml-2" href="#">j.dippel@campus.tu-berlin.de</a>
                    <br/> Yannic Lieder <a class="ml-2" href="#">y.lieder@tu-bs.de</a>
                    <br/> Michael Perk <a class="ml-2" href="#">m.perk@tu-bs.de</a>
                    <br/> Moritz Pfister <a class="ml-2" href="#">m.pfister@tu-bs.de</a>
                </div>

                <div class="small text-muted mt-3">

                    <div>
                        Vectors created by freepik - <a class=""
                                                        href="https://www.freepik.com/free-photos-vectors/people">www.freepik.com</a>
                    </div>
                    <div>
                        Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
                        and <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from
                        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


{% block script %}
{% endblock %}

</body>
</html>