{% extends "core/base.html" %}
{% load static %}
{% block content %}

    <div class="gradient-header">
        <div class="container">
            {% include "core/partials/_filter.html" with filter=True script=False css=False card=False action=search_url categories=categories best_matching=False %}
        </div>
        {% include 'core/partials/_rounded_bottom.html' %}
    </div>

    <div id="paper-container" class="container">

    </div>


    <div id="paper-loading-indicator" class="text-muted text-center fa-5x my-5" style="display: none;">
        <i class="fas fa-circle-notch fa-spin"></i>
    </div>

    <nav id="pagination-container"></nav>

{% endblock %}

{% block script %}
    {% include "core/partials/_filter.html" with load_default=True script=True filter=False css=False result_container_id="paper-container" indicator_id="paper-loading-indicator" %}
    {% include 'core/partials/_paper_card.html' with script=True html=False %}
{% endblock %}

{% block css %}
    {% include "core/partials/_filter.html" with css=True script=False filter=False %}
{% endblock %}