{% extends "core/base.html" %}
{% load static %}
{% block content %}

    <div class="">
        <div class="container">
            {% include "core/partials/_filter.html" with filter=True action=search_url categories=categories %}
        </div>

        <div id="paper-container" class="container">

        </div>


        <div id="paper-loading-indicator" class="text-center fa-5x" style="display: none;">
            <i class="fas fa-spinner fa-spin"></i>
        </div>

        {% include "core/partials/_filter.html" with pagination=True %}

    </div>


{% endblock %}

{% block script %}
    {% include "core/partials/_filter.html" with load_default=True script=True result_container_id="paper-container" indicator_id="paper-loading-indicator" %}
{% endblock %}

{% block css %}
    {% include "core/partials/_filter.html" with css=True %}
{% endblock %}