{% extends "core/base.html" %}
{% load static %}
{% block content %}

    <div class="gradient-header">
        <div class="container">
            {% include "core/partials/_filter.html" with filter=True action=search_url categories=categories best_matching=False %}
        </div>
    {% include 'core/partials/_rounded_bottom.html' %}
    </div>

        <div id="paper-container" class="container">

        </div>


        <div id="paper-loading-indicator" class="text-muted text-center fa-5x my-5" style="display: none;">
            <i class="fas fa-circle-notch fa-spin"></i>
        </div>

        {% include "core/partials/_filter.html" with pagination=True %}


{% endblock %}

{% block script %}
    {% include "core/partials/_filter.html" with load_default=True script=True result_container_id="paper-container" indicator_id="paper-loading-indicator" %}
    {% include 'core/partials/_paper_card.html' with script=True %}
{% endblock %}

{% block css %}
    {% include "core/partials/_filter.html" with css=True %}
{% endblock %}