{% extends "core/base.html" %}
{% load static %}
{% block content %}

    <div class="gradient-header">
        <div class="container py-3 text-white">
            <div class="row h-100 align-items-center py-5">
                <div class="col-lg-8">
                    <h1 class="display-4">Explore COVID-19 Preprints</h1>
                    <p class="muted-white lead mb-0">
                        Since 13th January 2020, {{ papers|length }} articles concerning the COVID-19 virus are
                        published on preprint
                        servers and collected by <strong>Collabovid</strong>. Most of
                        these papers are not reviewed in a professional reviewing process at the time of publication on
                        the preprint server. You can search for any topic you want below.
                        Visit <a class="muted-white" href="{% url "search" %}">search</a> to review all articles or
                        browse a list of
                        predefined <a class="muted-white" href="{% url "topic-overview" %}">topics</a>. For additional
                        help visit the
                        <a class="muted-white" href="{% url "about" %}">frequently asked questions</a>.

                    </p>
                </div>
                <div class="col-lg-4">
                    <img src="{% static "core/img/research-2.png" %}" class="img-fluid rounded">
                </div>
            </div>

        </div>

        <div class="container">
            <br/>
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <form action="{% url "search" %}" method="GET"
                          id="topic-search-form">
                        <div class="search-bar-rounded-corners card card-sm">
                            <div class="search-form-card-body row no-gutters align-items-center">

                                <div class="col-lg-10 col-md-10 col-sm-11 col">

                                    <div class="row align-items-center">

                                        <div class="col-0 col-sm-0 col-md-1 col-lg-1 col-xl-1">
                                            <span class="d-none d-sm-none d-md-inline d-lg-inline d-xl-inline">
                                                <i class="fas fa-search fa-2x text-body"></i>
                                            </span>
                                        </div>
                                        <!--end of col-->
                                        <div class="col">
                                            <input name="search"
                                                   class="form-control search-form-control form-control-borderless"
                                                   type="text"
                                                   placeholder="E.g. impact of weather on transmission">
                                        </div>
                                    </div>

                                </div>
                                <!--end of col-->
                                <div class="col-lg-2 col-md-2 col-sm-1 col-auto text-center">
                                    <button class="btn btn-lg btn-info
                                    d-none d-sm-none d-md-block d-lg-block d-xl-block" type="submit">
                                        <span class="">Search</span>
                                    </button>
                                    <button class="btn btn-lg btn-info
                                    d-block d-sm-block d-md-none d-lg-none d-xl-none rounded-circle" type="submit">
                                        <i class="fas fa-search text-body"></i>
                                    </button>

                                </div>
                                <!--end of col-->
                            </div>
                        </div>

                    </form>
                </div>
                <!--end of col-->
            </div>
        </div>
        {% include 'core/partials/_rounded_bottom.html' %}
    </div>

    <div class="container">

        <div class="row mt-5 mb-4">
            <div class="col-12">
                <h2 class="display-4 font-weight-light">Our dataset</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-muted">
                The database contains all COVID-19/SARS-CoV-2-related papers from
                <a href="https://connect.medrxiv.org/relate/content/181">medRxiv</a> and
                <a href="https://connect.biorxiv.org/relate/content/181">bioRxiv</a>.
                The dataset is updated several times a day.
                We are working hard on including new data sources.
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card w-100 shadow rounded bg-white p-4 mt-3">
                    <div class="card-body p-0">
                        <div>
                            <h3>Published Papers over Time</h3>
                        </div>
                        <div>
                            <canvas id="publicationsOverTimeChart" style="width:100%; height: 300px;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">

            <div class="col-lg-6 col-md-6 col-12">
                <div class="card w-100 shadow rounded bg-white p-4">

                    <h3>Most recent papers</h3>

                    <div class="card-body">
                        <ul class="list-group">
                            {% for paper in most_recent_papers %}
                                <li class="list-group-item">
                                    {{ paper.title }}
                                    <div class="text-muted small mt-2">
                                        {{ paper.published_at }} &middot; {{ paper.host.name }}
                                        <a href="{{ paper.pdf_url }}" class="float-right">
                                            Read more
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-12">

                <div class="card w-100 shadow rounded bg-white p-4">

                    <h3>Data</h3>

                    <div class="card-body">

                        <table class="table table-striped">

                            <tbody>
                            <tr>
                                <td>Papers:</td>
                                <td class="text-center">{{ statistics.paper_count }}</td>
                            </tr>
                            <tr>
                                <td>Topics:</td>
                                <td class="text-center">{{ statistics.topic_count }}</td>
                            </tr>

                            <tr>
                                <td>Dataset Sources:</td>
                                <td class="text-center">{{ statistics.paper_host_count }}</td>
                            </tr>

                            <tr>
                                <td>Papers from today:</td>
                                <td class="text-center">{{ statistics.paper_today_count }}</td>
                            </tr>

                            <tr>
                                <td>Papers from last week:</td>
                                <td class="text-center">{{ statistics.papers_last_week }}</td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="mt-5">
                            <canvas id="paperHostDistribution" style="width: 100%;height:300px;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5 mb-4">
            <div class="col-12">
                <h2 class="display-4 font-weight-light">Partners</h2>
            </div>
        </div>

        <div class="mentions-container">
            <div class="row">
                <div class="col-12 col-md-4">

                    <div class="card">
                        <div class="card-image bmbf">
                            <img class="card-img-top"
                                 src="{% static "core/img/partners/bmbf-long.png" %}">

                        </div>

                        <div class="card-body">
                            <h5 class="card-title">BMBF</h5>
                            <p class="card-text">
                                Collabovid was selected for a funding program of the Federal Ministry of Education and
                                Research in Germany. The financial aid helps us to improve the platform and
                                keep the page running.
                            </p>
                            <a href="#" class="btn btn-light float-right">
                                Read more
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4">

                    <div class="card">
                        <div class="card-image solution-enabler">
                            <img class="card-img-top"
                                 src="{% static "core/img/partners/solution-enabler.png" %}">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Solution Enabler</h5>
                            <p class="card-text">
                                The Solution Enabler is an implementation program for teams with promising
                                solutions
                                in times of COVID-19.
                                The program will initially run over a six-month period. However, the goal is to
                                implement the solutions as quickly as possible.
                            </p>
                            <a href="https://wirvsvirushackathon.org/weiterfuehrung-2/"
                               class="btn btn-light float-right">
                                Read more
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>


    </div>
{% endblock %}

{% block script %}
    <script src="{% static "core/include/moment.js/moment.js" %}"></script>

    <script src="{% static "core/include/chart.js/Chart.min.js" %}"></script>
    <script src="{% static "core/include/palette.js/palette.js" %}"></script>

    <script src="{% static "core/js/collabovid_charts.js" %}"></script>

    <script>
        $(document).ready(function () {
            let published_at_data = JSON.parse('{{ statistics.published_at_data|escapejs }}');
            let paper_host_data = JSON.parse('{{ statistics.paper_host_data|escapejs }}');

            $("#publicationsOverTimeChart").publicationsOverTime({plot_data: published_at_data});
            $("#paperHostDistribution").paperHostDistribution({plot_data: paper_host_data});
        });

    </script>

{% endblock %}

{% block css %}
    <link rel="{% static "core/include/chart.js/Chart.min.css" %}" type="text/css">
{% endblock %}