{% extends "core/base.html" %}
{% load static %}
{% block content %}

    <div class="bg-white">
        <div class="container">

            {% include "core/partials/_filter.html" with html=True %}

        </div>

        <div class="container">
            {% for card in papers %}
                <div class="my-5">
                    {% include 'core/partials/_paper_card.html' with title=card.title date=card.date description=card.description pdf=card.pdf ext=card.ext img_src=card.img_src %}
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}

{% block script %}
    {% include "core/partials/_filter.html" with script=True %}
{% endblock %}

{% block css %}
    {% include "core/partials/_filter.html" with css=True %}
{% endblock %}