{% extends "core/base.html" %}
{% load static %}
{% block content %}
    <div class="gradient-header">
        <div class="container py-3 text-white">
            <div class="row h-100 align-items-center py-5">
                <div class="col-lg-12">
                    <h1 class="display-4">Imprint / Data Protection</h1>
                    <p class="muted-white lead mb-0">
                        Collabovid is an Open Source project provides an overview over recent preprint versions
                        concerning
                        SARS-CoV-2. The website was developed by four students during
                        <a class="muted-white"
                           href="https://covid-global-hackathon.devpost.com/">#BuildforCOVID19</a> Global Online
                        Hackathon. Further information can be found
                        <a class="muted-white" href="{% url "about" %}">here</a>.
                    </p>
                </div>
            </div>
        </div>

        {% include 'core/partials/_rounded_bottom.html' %}

    </div>

    <div class="container text-justify">
        <div class="col-sm-12">
            <div>
                <p>

                </p>
                <h3>Contact</h3>
                <p> Jonas Dippel<br>
                    Tel. +49 30 257 878 44<br>
                    <a href="mailto:j.dippel@campus.tu-berlin.de">j.dippel@campus.tu-berlin.de</a>
                    <br>

                <h3>Disclaimer</h3>
                <p>Please take note of the important legal information about the content and availability
                    of these websites, about copyright, and about external links.</p>
                <h3>Website content</h3>
                <p>The content of this website was produced with due diligence. However, the authors are not liable for
                    the correctness, completeness, or up-to-dateness of the content
                    provided.</p>
                <h3>Website availability</h3>
                <p>The authors will make every effort to offer the service without
                    interruption. However, even with all due care, interruptions cannot be completely prevented. It
                    retains
                    the right to change or stop its offer at any time. We do not accept liability for interruptions or
                    other
                    disruptions due to files that have not been linked properly or formats that have not been structured
                    properly.</p>
                <h3>Copyright</h3>
                <p>
                    The presented papers/articles on the website are taken from <a href="biorxiv.org">bioXiv</a>.

                    By posting on bioRxiv, authors explicitly consent to text mining of their work (e.g., by search
                    engines or researchers).
                    Authors retain copyright and choose from several distribution/reuse options under which to make the
                    article available (CC BY, CC BY-NC, CC BY-ND, CC BY-NC-ND, CC0, or no reuse).
                    Note that Collabovid is not legally responsible for the content of the papers abstracts
                    as they are part of a publication on bioXiv.

                    <br>

                    <strong>Note on problems with external links</strong>
                    <br>According to Sec. 7(1) of the
                    German Telecommunications Act, Collabovid as a content providers are legally
                    responsible
                    for its “own content” that we provide. Links to content from other providers is considered separate
                    from the Collabovid’s own content. “External content” is provided in a way by Collabovid
                    that is marked in the following way: <br>“Links” are always “living” (dynamic) references.
                    When first linking the site, we check the content to ensure that no civil
                    or
                    criminal legal responsibility could arise. However, Collabovid does not continually check the
                    content linked for changes that could lead to civil or criminal responsibility. If it discovers or
                    if it
                    is told that specific content to which it has linked could lead to civil or criminal responsibility,
                    it
                    will remove the link to this content.</p>
            </div>
        </div>
        <div class="col-sm-12">
            <div><h1>Data protection declaration</h1>
                <p>When you visit our websites, personal data is processed. Personal data includes all
                    information that could be used to identify you personally.
                </p>
                <p>We take the protection of your personal data very seriously. Your personal data will be
                    treated confidentially according to this data protection declaration and the legal data protection
                    provisions. This data protection declaration informs you about the type, scope, and purpose of
                    personal
                    data processing within our website.
                </p>
                <p>Regarding the terms used, e.g. “processing” or “controller”, we refer to the
                    definitions in Art. 4 of the General Data Protection Regulation (EU-GDPR).
                </p>
                <h3>Who is responsible for processing the data on this website?</h3>
                <p>Responsible for this website’s data processing is:
                </p>
                <p>
                    Jonas Dippel<br>
                    Tel. +49 30 257 878 44<br>
                    <a href="mailto:j.dippel@campus.tu-berlin.de">j.dippel@campus.tu-berlin.de</a>
                </p>
                <p>“Controller” is the natural or legal person, agency, institution, or other office that
                    decides alone or together with others about the purpose and method of processing personal data.
                </p>
                <p>Data Protection Representative according to Art. 37 EU-GDPR is:
                </p>
                <p>
                    Jonas Dippel<br>
                    Tel. +49 30 257 878 44<br>
                    <a href="mailto:j.dippel@campus.tu-berlin.de">j.dippel@campus.tu-berlin.de</a>
                </p>
                <h3>What rights do you have regarding your data?</h3>
                <p>
                    At any time, you have the right to receive information for free about the origin,
                    recipient, and purpose of the personal data saved about you. You also have the right to request that
                    this data is corrected, restricted, or deleted. On this and other questions related to data
                    protection,
                    you can contact us at any time under the address given in the legal notice. In addition, you have
                    the
                    right to file a complaint with the responsible supervisory authority.
                </p>
                <p><b>Revocation right</b><br>Many data processing tasks are only possible with your
                    express consent, e.g. when we publish pictures that are subject to your copyright or in which you
                    are
                    shown. You have the right to revoke consent given according to Art. 7(3) GDPR for the future. It is
                    sufficient to send us informal notification of this by email.
                    <br>At any time, you may revoke your consent for us processing
                    your personal data in the future according to Sec. 21 GDPR. The revocation can be done in particular
                    for
                    processing for direct marketing purposes.
                </p>
                <p><b>Right to file a complaint with the responsible supervisory authority</b><br>For data
                    protection violations that affect you, you have the right to file a complaint with the responsible
                    supervisory authority. The responsible supervisory authority for data protection matters is the
                    Jonas Dippel.
                </p>
                <p><b>Right to data portability</b><br>You have the right to have data that we have
                    automatically processed based on your consent or to fulfill a contract sent to you or a third party
                    in a
                    standard, machine-readable format. If you request the data to be transferred directly to another
                    controller, this will only be done if it is technically possible.
                </p>
                <p><b>Information, restriction, erasure</b><br>In the context of the valid legal
                    regulations, you have the right to receive information free of charge about the personal data saved
                    about you, its origin and recipient, and the purpose of data processing and, if applicable, a right
                    to
                    rectification, processing restrictions, or erasure of this data. On this and other questions related
                    to
                    personal data, you can contact us at any time under the address given in the legal notice.
                </p>
                <p><b>Transferring data</b><br>Personal data will not be transferred to third parties
                    without your express consent unless we are legally obligated to do so (e.g. transferring to agencies
                    for
                    prosecuting criminal acts).
                </p>
                <h3>What data is collected on our website?</h3>
                <p><b>Access logs</b><br>When you visit our site, our web server automatically processes
                    information given to us by your browser based on Art. 6(1) lit f) EU-GDPR</p>
                <ul>
                    <li>Browser type and language</li>
                    <li>Operating system used</li>
                    <li>The site you last visited (referrer URL)</li>
                    <li>Date and time of the server request</li>
                    <li>The data amount transferred and access status (file transferred, file not found, etc.)</li>
                    <li>IP address</li>
                </ul>
                <p>We collect and use this data solely in non-personalized form, that is, personal
                    processing does not take place. It primarily serves security purposes and to ensure an error-free
                    provision of the website; in addition, it is used for statistical analyses. This data is not merged
                    with
                    data from other sources. This data is deleted automatically after closing of the session.
                </p>
                <p><b>Cookies</b><br>Some of the internet sites use cookies. Cookies do not harm your
                    computer in any way and do not contain viruses. Cookies serve to make our offer more user-friendly,
                    more
                    effective, and safer. Cookies are small text files that are saved on your computer and saved by your
                    browser.
                </p>
                <p>Most of the cookies we use are session cookies that are automatically deleted after you
                    leave the site. Other cookies are saved on your device until you delete them. These cookies enable
                    us to
                    recognize your browser the next time to visit the site.
                </p>
                <p>You can change the settings in your browser so that you are informed about cookies being
                    set and allow them only in individual cases, accept cookies only for certain cases, generally not
                    permit
                    them, or to automatically delete the cookies when you close the browser. When deactivating cookies,
                    the
                    functionality of this website could be limited.
                </p>
                <p>Cookies that are necessary to provide certain functions are saved according to
                    Art.
                    6(1) lit. f) EU-GDPR. The website operator has an interest in analyzing and optimizing its services
                    as
                    well as their economic operation.
                </p>
                <p>If other cookies (e.g. cookies to analyze your surfing behavior) are saved, they are
                    dealt with separately in this data protection declaration.
                </p>

                <p><b>Contact</b><br>If you would like to send us a question (e.g. via
                    email), your information from the contact request is saved together with the contact information you
                    entered according to Art. 6(1) lit. f) EU-GDPR for the purpose of responding to the question and
                    saved
                    in case there are any follow-up questions. We do not transfer this data without your consent. If the
                    data is no longer relevant, it is deleted. The legal archiving requirements apply.
                </p>
                <h3>External services</h3>
                <p>
                    <b>Amazon Web Services</b><br>
                    For hosting and database storage, we use the Amazon Elastic Beanstalk (EB) and the Amazon Relational Database Service (RDS) of Amazon Web
                    Services Inc., 410 Terry Avenue North, Seattle WA 98109, USA (hereinafter "AWS") in accordance with
                    Art. 6(1) lit. f) EU-GDPR. All data collected within the scope of our offers are
                    stored exclusively in an American computer center (Virginia).

                    The data transmitted to AWS is stored on the servers until we delete it.

                    You can find more information about AWS and data protection at
                    <a href="https://d1.awsstatic.com/legal/aws-gdpr/AWS_GDPR_DPA.pdf">https://d1.awsstatic.com/legal/aws-gdpr/AWS_GDPR_DPA.pdf</a>.
                </p>
                <h3>Data security</h3>
                <p>We use technical and organizational security measures to protect personal data that
                    arises or is collected, especially to protect against intentional manipulation, loss, destruction or
                    attacks from unauthorized persons. Our security measures are continually improved according to
                    technological developments. However, we still point out that transferring data online can have
                    security
                    risks. Perfect protection of data from third-party access is not possible.
                </p>
                <p><b>SSL or TLS encryption</b><br>For security reasons and to protect confidential
                    information that is transferred, e.g. orders or questions sent to us as the site operator, this site
                    uses SSL or TLS encryption. You can recognize an encrypted connection in the URL shown in the
                    browser -
                    it changes from “http://” to “https://” and a padlock symbol appears in your browser URL line.
                </p>
                <p>If the SSL or TLS encryption is activated, data you send to us cannot be read by third
                    parties.</p></div>
        </div>
    </div>


{% endblock %}

{% block script %}
{% endblock %}
{% block css %}
{% endblock %}