{% extends "core/base.html" %}
{% load static %}
{% block content %}

    <div class="gradient-header">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-white display-6 mt-3">{{ paper.title }}</h3>
                </div>
            </div>
        </div>
        {% include 'core/partials/_rounded_bottom.html' %}
    </div>

    <div class="container mt-4">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <h3 class="text-muted text-center d-md-none d-sm-block d-block mb-4">Citations</h3>
            <h3 class="text-muted d-md-inline-block d-none">Citations</h3>
        </div>
    {% for current_reference in references %}
        <div class="card p-4 rounded shadow">
            <div class="row d-flex flex-wrap align-items-center">
                <div class="col-md-12">
                    <div class="card-block">
                        <p>
                            {{ current_reference.0 }}
                        </p>
                        <p>
                            {{ current_reference.2 }}
                        </p>
                        {% if current_reference.1 != None %}
                        <p>
                            <b>Title:</b> {{ current_reference.1.title }} <br>
                            <b>Authors:</b> {{ current_reference.1.authors }} <br>
                            <b>Publication Date:</b> {{ current_reference.1.publication_date }} <br>
                            <b>Journal:</b> {{ current_reference.1.journal }} <br>
                            <b>Link:</b> <a href="{{ current_reference.1.url }}">{{ current_reference.1.url }}</a>
                        </p>
                        {% else %}
                        <p>
                            Found no entry on PubMed
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="my-5 text-center font-weight-bold">No references found</div>
    {% endfor %}
    </div>

    <div id="paper-container" class="container mt-4">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <h3 class="text-muted text-center d-md-none d-sm-block d-block mb-4">Similar Paper</h3>
            <h3 class="text-muted d-md-inline-block d-none">Similar Paper</h3>
        </div>
        {% for current_paper in similar_papers %}
            <div class="my-5">
                {% include 'core/partials/_paper_card.html' with html=True paper=current_paper score=paper.percentage_topic_score show_score=show_topic_score %}
            </div>

        {% empty %}
            <div class="my-5 text-center font-weight-bold">No similar papers found</div>
        {% endfor %}

    </div>

{% endblock %}

{% block script %}
{% endblock %}

{% block css %}
{% endblock %}