{% extends "core/search_base.html" %}
{% load static %}
{% block content %}
    <div id="paper-cover" class="paper-cover"></div>

    <form id="paper-search-form" method="post" action="{% url "search" %}">
        {% csrf_token %}

        <input id="tabInput" type="hidden" name="tab" value="{{ form.tab }}">
        <div class="gradient-header pb-0">
            <div class="container">

                <div class="row mt-5">
                    <div class="col-12">

                        <!-- For desktop search -->

                        <div class="input-group input-group-lg mb-3 d-none d-md-flex">
                            <div class="input-group-prepend border-right-0">
                                <div class="input-group-text bg-white border-right-0">
                                    <i class="fas fa-search"></i>
                                </div>
                            </div>

                            <input type="text" value="{{ form.search }}" name="search"
                                   class="border-left-0 form-control"
                                   placeholder="Find papers by their title, content or author">
                            <div class="input-group-append">
                                <button class="btn btn-success" type="submit">Search</button>
                            </div>
                        </div>

                        <!-- End desktop search -->

                        <!-- For mobile search -->
                        <div class="input-group mb-3 d-flex d-md-none">
                            <input type="text" value="{{ form.search }}" name="search"
                                   class="border-left-0 form-control"
                                   placeholder="Find papers by their title, content or author">
                            <div class="input-group-append">
                                <button class="btn btn-success" type="submit">Search</button>
                            </div>
                        </div>
                        <!-- End mobile search -->

                    </div>

                </div>

                <div class="row mt-5">
                    <div class="col-9">
                        <ul class="nav nav-search-types nav-justified">
                            <li class="nav-item">
                                <a class="nav-link {% if form.tab == "top" %}active{% endif %}" href="#"
                                   data-value="top">Top</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link {% if form.tab == "newest" %}active{% endif %}" href="#"
                                   data-value="newest">Newest</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link {% if form.tab == "statistics" %}active{% endif %}" href="#"
                                   data-value="statistics">Statistics</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-3 text-right">

                        <div class="dropdown">
                            <button class="btn btn-light mt-2"
                                    aria-haspopup="true"
                                    aria-expanded="false" id="filterButton">Filters
                            </button>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div id="filterContainer"
                             class="search-dropdown dropdown-menu dropdown-menu-right p-4"
                             aria-labelledby="filterButton">
                            {% include "core/partials/_filter_box.html" with form=form load_default=True categories=categories form_id="paper-search-form" result_container_id="paper-container" indicator_id="paper-loading-indicator" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="paper-container"></div>

                <div id="paper-loading-indicator" class="text-muted text-center fa-5x my-5"
                     style="display: none;">
                    <i class="fas fa-circle-notch fa-spin"></i>
                </div>

                <nav id="pagination-container"></nav>
            </div>

        </div>
    </div>

{% endblock %}

{% block script %}
    {{ block.super }}

    <script type="text/javascript">
        $(document).ready(function (e) {
            let filterContainer = $("#filterContainer");
            let paperCover = $("#paper-cover");
            let filter_button = $("#filterButton");
            let form = $("#paper-search-form");

            let filters_changed = false;

            filter_button.click(function (e) {
                e.preventDefault();
                filterContainer.toggle();
                paperCover.fadeToggle();

                if (filters_changed) {
                    form.submit();
                    filters_changed = false;
                }
            });

            filterContainer.find("input, select").change(function (e) {
                filters_changed = true;
            });

            paperCover.click(function () {
                filter_button.click();
            });

            $(".nav-search-types a.nav-link").click(function (e) {
                e.preventDefault();

                if($(this).hasClass('disabled'))
                {
                    return;
                }

                $(".nav-search-types a.nav-link.active").removeClass("active");
                $(this).addClass("active");

                let value = $(this).data('value');
                $("#tabInput").val(value);

                form.submit();
            });

        });
    </script>
    {% include 'core/partials/_paper_card.html' with script=True html=False %}
{% endblock %}