{% extends "core/base.html" %}
{% load static %}
{% block content %}

    <div class="gradient-header">
        <div class="container">
            <div class="row h-100 align-items-center py-5">

                <div class="col-lg-8">
                    <h1 class="display-4 font-weight-light text-white">Topics</h1>

                    <div class="muted-white">

                        10 key questions as tasks and 10 ways you can help the world to understand and recover from
                        coronavirus faster. Major AI initiatives and The White House have come together
                        and made available over 45,000 scholarly articles about COVID-19 and related coronaviruses
                        for you to help answer questions the scientific community is asking and win cash prizes.
                    </div>

                </div>

                <div class="col-lg-4">
                    <div class="row mt-3">
                        <div class="col-12 text-right">
                            <a class="" href="https://www.kaggle.com/covid19">
                                <img class="w-50" src="{% static "core/img/kaggle-logo.png" %}">
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 text-right">
                            <img class="w-100" src="{% static "core/img/kaggle-partners.png" %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'core/partials/_rounded_bottom.html' %}
    </div>

    <div id="paper-container" class="container">
        {% for topic in topics %}
            {% include "core/partials/_topic_card.html" with topic=topic odd=forloop.counter|divisibleby:2  %}
        {% endfor %}
    </div>



{% endblock %}

{% block script %}
{% endblock %}

{% block css %}
{% endblock %}