{% extends "core/base.html" %}
{% load static %}
{% block content %}

    <div class="gradient-header">
        <div class="container">
            <div class="row h-100 align-items-center py-5">

                <div class="col-lg-8">
                    <h1 class="display-4 font-weight-light text-white">Topics</h1>

                    <div class="muted-white">
                        <p>
                            The White House and Several AI initiatives as the Allen Institute for AI posed 10 questions as
                            tasks for the
                            <a href="https://www.kaggle.com/allen-institute-for-ai/CORD-19-research-challenge/">
                                COVID-19 Open Research Dataset Challenge on Kaggle
                            </a>.
                            These tasks cover important topics in the context of COVID-19, where solutions, ideas and
                            discussions are required as fast as possible.
                        </p>
                        <p>
                            Since a lot of research papers cover exactly these questions, we misuse them to classify the
                            COVID-19 preprints.
                        </p>
                    </div>

                </div>

                <div class="col-lg-4">
                    <div class="row mt-3">
                        <div class="col-12 text-right">
                            <a class="" href="https://www.kaggle.com/covid19">
                                <img class="w-50" src="{% static "core/img/kaggle-logo.png" %}">
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 text-right">
                            <img class="w-100" src="{% static "core/img/kaggle-partners.png" %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'core/partials/_rounded_bottom.html' %}
    </div>

    <div id="paper-container" class="container">
        {% for topic in topics %}
            {% include "core/partials/_topic_card.html" with topic=topic odd=forloop.counter|divisibleby:2  %}
        {% endfor %}
    </div>



{% endblock %}

{% block script %}
{% endblock %}

{% block css %}
{% endblock %}