{% extends "core/base.html" %}
{% load static %}
{% block content %}

    <div>

        <div class="container">
            <h2>Current Topic {{ topic.name }}</h2>
            <div class="text-muted">{{ topic.description }}</div>
            <div id="paper-container" class="container">
                {% include "core/partials/_search_results.html" with papers=topic.papers.all %}
            </div>
        </div>

    </div>


{% endblock %}

{% block script %}
{% endblock %}

{% block css %}
{% endblock %}Ok