{% extends "core/base.html" %}
{% load static %}
{% block content %}

    <div>

        <div class="container">
            <div class="row h-100 align-items-center py-5">

                <div class="col-12">
                    <h2 class="text-white display-4">{{ topic.name }}</h2>

                    <div class="muted-white">{{ topic.description }}</div>

                </div>
            </div>
            <div id="paper-container" class="container">
                {% include "core/partials/_search_results.html" with papers=topic.papers.all score=50%}
            </div>
        </div>

    </div>


{% endblock %}

{% block script %}
{% endblock %}

{% block css %}
{% endblock %}Ok