{% extends "dashboard/base.html" %}
{% load static %}
{% load pipeline %}
{% block content %}
    {% load paper_card_extras %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom"
         xmlns="http://www.w3.org/1999/html">
        <h1 class="h2">{{ topic.name }} ({{ topic.papers.count }})</h1>
        <div>{{ request.user|edit_object_link:topic }}</div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <form action="{% url "task_create" "cluster-topic" %}" method="post">
                {% csrf_token %}
                <input type="number" name="n_clusters" value="2">
                <input type="hidden" value="{{ topic.pk }}" name="topic_id">
                <button type="submit" class="btn btn-outline-secondary card-link">Cluster</button>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="card p-3">
            {{ topic.description }}
        </div>
        <div class="row pb-5">
            {% for paper in papers %}
                <div class="col-md-6 p-2">
                    <div class="h-100 card">
                        <div class="card-body d-flex flex-column">
                            {{ paper.title }}
                            <div class="mt-auto">
                                <a href="#" class="card-link">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}