{% extends "dashboard/base.html" %}
{% load static %}
{% load pipeline %}
{% block content %}
    <div class="container">
        <div class="tab-pane fade show active" id="countries" role="tabpanel" aria-labelledby="countries-tab">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1>Add name resolution</h1>
            </div>
            <div class="mt-3">
                <div class="mb-2">Map the author name {{ author.first_name }} {{ author.last_name }} to another author:</div>
                <form method="POST" action="{% url "add_author_name_resolution" author.pk %}">
                    {% csrf_token %}
                    <label class="mr-3" for="first_name">First name:</label><input type="text" name="first_name" id="first_name" value="{{ author.first_name }}"><br>
                    <label class="mr-3" for="last_name">Last name:</label><input type="text" name="last_name" id="last_name" value="{{ author.last_name }}"><br>
                    <button type="button" id="swap_btn" class="btn btn-outline-primary mt-2">Swap first and last</button>
                    <button type="submit" class="btn btn-outline-success mt-2">Add</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function() {
            $('#swap_btn').on("click", function(e) {
                finput = $("#first_name");
                linput = $("#last_name");
                let tmp = finput.val();
                finput.val(linput.val());
                linput.val(tmp);
	            e.preventDefault();
            });
        });
    </script>
{% endblock %}