{% extends "tasks/layout.html" %}
{% load static %}
{% load tz %}
{% block content %}

    <div class="d-flex flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ task.name }}</h1>
        <div class="ml-3" style="font-size: 15px">
            {% if task.status == 0 %}
                <span class="text-secondary"><i class="fa fa-clock"></i> Pending</span>
            {% elif task.status == -1 %}
                <span class="text-danger"><i class="fa fa-times-circle"></i> Error</span>
            {% elif task.status == 1 %}
                <span class="text-success"><i class="fa fa-check-circle"></i> Finished</span>
            {% elif task.status == -2 %}
                <span class="text-secondary"><i class="fa fa-times-circle"></i> Aborted</span>
            {% endif %}

        </div>
        <div class="ml-3">
            <span class="text-secondary"><i class="fas fa-user"></i> {{ task.started_by }}</span>
        </div>
        <div class="ml-3"><i class="fa fa-hourglass-start"></i> {{ task.started_at | localtime }}</div>
        {% if task.status != 0 %}
            <div class="ml-3"><i class="fa fa-hourglass-end mt-2"></i> {{ task.ended_at }}</div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-md-12" style="font-size: 11px;">
            <div id="overflow" class="overflow-auto" style="height: calc(100vh - 200px)">
                <pre id="log-container" style="text-rendering: optimizeSpeed"></pre>
            </div>
        </div>
    </div>
    <div id="log" style="display: none">{{ log }}</div>

{% endblock %}

{% block script %}
    <script>
        function chunkSubstr(str, size) {
            const numChunks = Math.ceil(str.length / size);
            const chunks = new Array(numChunks);

            for (let i = 0, o = 0; i < numChunks; ++i, o += size) {
                chunks[i] = str.substr(o, size)
            }

            return chunks
        }

        let container = $('#log-container');
        var text = $('#log').html();
        console.log(text);
        var chunks = chunkSubstr(text, 20000);
        for (let chunk in chunks) {
            container.append(chunks[chunk]);
        }

        var objDiv = document.getElementById("overflow");
        objDiv.scrollTop = objDiv.scrollHeight;

    </script>
{% endblock %}