{% extends "tasks/layout.html" %}
{% load static %}
{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Tasks</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <button class="btn btn-sm btn-outline-secondary">
                New Task
            </button>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% for task in tasks %}
                <div class="col-md-3 p-2">
                    {% include 'tasks/partials/_task_card.html' with task=task %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}