{% if file_analyzer.papers %}
    <h3 class="text-muted">Your analysis</h3>

    {% if file_analyzer.ignored_raw_entries|length > 0 %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <i class="fas fa-exclamation-triangle"></i>
            We were unable to parse {{ file_analyzer.ignored_raw_entries|length }} literature
            {{ file_analyzer.ignored_raw_entries|length|pluralize:"entry,entries" }}.
            A reason might be that the {{ file_analyzer.ignored_raw_entries|length|pluralize:"entry is,entries are" }}
            missing a doi and a title.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    We analyzed your file and found {{ file_analyzer.papers.count }} {{ file_analyzer.papers.count|pluralize:"paper,papers" }}
    that {{ file_analyzer.papers.count|pluralize:"is,are" }} in our database{% if file_analyzer.missing_entries %} and {{ file_analyzer.missing_entries|length }} that we don't have in our database{% endif %}.
    You can review the results below.
    To continue to the similar paper select between one and ten papers that you want to analyze.

    {% include "search/partials/_similar_papers_selection.html" with papers=file_analyzer.papers.all missing_entries=file_analyzer.missing_entries %}

{% else %}

    <div class="alert alert-danger" role="alert">
        <i class="fas fa-exclamation-triangle"></i>
        Unfortunately we were unable find any literature in your file that is present in our database. The reason
        might be that your .bib file is malformed or that the papers are not directly related to COVID-19/SARS-CoV-2.
    </div>

{% endif %}