html, body {
    min-height: 100%;
    height: 100%;
}

body {
    background-size: 100% auto;
    height: 100%;
    position: relative;
    background: #F5F5F5;
}

.gradient-header {
    background-color: #75a5f2;
    background-image: linear-gradient(135deg, #75A5F2 0%, #5475a1 100%);
    position: relative;
    margin-top: -72px;
    padding-top: 72px;
    width: 100%;
    padding-bottom: 4rem;
}

.svg-border-rounded svg {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #F5F5F5;
    height: 3rem;
    width: 100%;
}

.navbar {
    z-index: 1;
    background: transparent;
}

.bg-light-semi-transparent {
    color: #343a40 !important;
    background-color: rgba(248, 249, 250, 0.8);
}

.shadow {
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
}

#content {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: visible;
    display: block;
    position: relative;
    padding-bottom: 100px;
}

.muted-white {
    color: rgba(255, 255, 255, 0.8);
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.rounded-corners {
    border-radius: 4rem;
}

.gj-datepicker.gj-datepicker-bootstrap button:not(:hover)
{
    background: white !important;
}

.gj-datepicker.gj-datepicker-bootstrap button:hover
{
    background: rgb(248, 249, 250) !important;
    color: #212529 !important;
}

.btn.dropdown-toggle.btn-light
{
    background: white !important;
}