html, body {
    min-height: 100%;
    height: 100%;
}

body {
    background-size: 100% auto;
    height: 100%;
    position: relative;
    background: #F5F5F5;
}

.feedback-bar {
    background-color: #5b73aa;
    color: #fff;
}

.feedback-bar a {
    color: #fff5b1;

}

.gradient-header {
    background-color: #75a5f2;
    background-image: linear-gradient(135deg, #75A5F2 0%, #5475a1 100%);
    position: relative;
    margin-top: -72px;
    padding-top: 72px;
    width: 100%;
    padding-bottom: 4rem;
}

@media (max-width: 992px) {
    .svg-border-rounded {
        display: none;
    }
}

.gradient-header-extended {
    margin-top: -360px;
    padding-top: 360px;
}

.svg-border-rounded svg {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #F5F5F5;
    height: 3rem;
    width: 100%;
}

.navbar {
    z-index: 1;
    background: transparent;
}

.bg-light-semi-transparent {
    color: #343a40 !important;
    background-color: rgba(248, 249, 250, 0.8);
}

.shadow {
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
}

#content {
    min-height: calc(100vh - 72px); /* will cover the 100% of viewport */
    overflow: visible;
    display: block;
    position: relative;
    padding-bottom: 100px;
}

.muted-white {
    color: rgb(201, 218, 226);
}

a.muted-white, a.muted-white:hover {
    color: rgb(255, 255, 255);
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.rounded-corners {
    border-radius: 4rem;
}

.gj-datepicker.gj-datepicker-bootstrap button:not(:hover) {
    background: white !important;
}

.gj-datepicker.gj-datepicker-bootstrap button:hover {
    background: rgb(248, 249, 250) !important;
    color: #212529 !important;
}

.btn.dropdown-toggle.btn-light {
    background: white !important;
}

.card-text-preview {
    max-height: 200px;
    height: 200px;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.topic_card {
    background: linear-gradient(135deg, #ffffff 0%, #f0f0f0 100%);
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;

    background-position: 10px 0;
}

.topic_card.odd {
    background-position: 100% 0;
}

a.invisible-link, a.invisible-link:hover {
    color: inherit !important;
    text-decoration: none;
}

.topic_header {
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 200px 200px;
    background-position: 100% 0;
}

.topic_description {
    max-height: 400px;
    height: 400px;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

@media (min-width: 576px) {
    .search-bar-rounded-corners {
        border-radius: 4rem;
    }

    .search-form-control {
        height: calc(1.5em + 1rem + 2px);
        padding: .5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: .3rem;
    }

    .search-form-card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1.25rem;
    }
}

.button-host {
    color: #00796B;
    border-color: #00796B;
}

.button-host:hover, .button-host:active, .button-host:focus {
    color: #fff;
    background-color: #00796B;
    border-color: #00796B;
}

.button-host:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 121, 107, 0.5);
}

.button-pdf {
    color: #5475a1;
    border-color: #5475a1;
}

.button-pdf:hover, .button-pdf:active, .button-pdf:focus {
    color: #fff;
    background-color: #5475a1;
    border-color: #5475a1;
}

.button-pdf:focus {
    box-shadow: 0 0 0 0.2rem rgba(84, 117, 161, 0.5);
}

.btn-pink {
    background: #EC407A;
    color: #ffffff;
    border-color: #bf355f;
}

.btn-pink:hover, .btn-pink:active, .btn-pink:focus {
    background: #cc3767;
    color: #ffffff;
    border-color: #bf355f;
}

.btn-pink:focus {
    box-shadow: 0 0 0 0.2rem rgba(236, 64, 122, 0.1);
}


.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100% !important;

    min-width: 100%;
    max-width: 100%;
}


.bootstrap-select .dropdown-menu {
    max-width: inherit !important;
    min-width: inherit !important;
}


.bootstrap-select .dropdown-menu ul li .text {
    white-space: normal !important;
    word-break: normal !important;
}

.nav-search-types .nav-item .nav-link {
    background: #F5F5F5;
    border-bottom: 1px solid #acacac;
    color: #1b1e21;
    font-weight: bold;
    padding: 15px 15px 18px 15px;
}

.nav-search-types .nav-item .nav-link:hover:not(.active) {
    background: #dbdbdb;
}

.nav-search-types .nav-item .nav-link.active {
    color: #4c84d7;
    border-bottom: 4px solid #4c84d7;
    padding: 15px;
}

.nav-search-types .nav-link {
}

.nav-search-types
