<div class="card h-100">
    <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{ city.displayname }}</h5>
        <h6 class="card-subtitle mb-2">
        </h6>
        <div class="card-text mb-2 text-muted">
            <div>Name: {{ city.name }}</div>
            <div>Alias: {{ city.alias }}</div>
            <div>Paper count: {{ city.count }}</div>
        </div>
        <div class="mt-auto text-right">
            <a href="{% url "admin:data_geocity_change" city.pk %}" class="btn btn-sm btn-outline-primary">Edit</a>
            <form action="{% url "delete_location" city.pk %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button class="btn btn-sm btn-outline-danger" type="submit">Delete & Ignore</button>
            </form>
        </div>
    </div>
</div>