{% load tz %}

<div class="card h-100">
    <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{ task.name }}</h5>
        <h6 class="card-subtitle mb-2">
            {% if task.status == 0 %}
                <span class="text-secondary"><i class="fa fa-clock"></i> Pending</span>
            {% elif task.status == -1 %}
                <span class="text-danger"><i class="fa fa-times-circle"></i> Error</span>
            {% elif task.status == 1 %}
                <span class="text-success"><i class="fa fa-check-circle"></i> Finished</span>
            {% endif %}
        </h6>
        <div class="card-text mb-2 text-muted">
            <div><i class="fa fa-hourglass-start"></i> {{ task.started_at | localtime }}</div>
            {% if task.status != 0 %}
                <div><i class="fa fa-hourglass-end mt-2"></i> {{ task.ended_at }}</div>{% endif %}
        </div>
        <div class="mt-auto">
            <a href="{% url 'task_detail' id=task.pk %}" class="card-link">View</a>
            <a href="#" class="card-link" data-toggle="modal" data-target="#modal" data-id="{{ task.pk }}">Delete</a>
        </div>
    </div>
</div>