{% load static %}
<div class="filter-card collapse width" id="filter-container">
    <div class="card">
        <form id="filter-form" class="search-form mt-1">
            <a href="#" class="d-none d-lg-inline position-absolute filter-hide-button filter-toggle"
               data-toggle="collapse"
               data-target="#filter-container"
               aria-expanded="false"
               aria-controls="filter-container">Hide
            </a>


            <a href="#" class="position-absolute d-lg-none d-inline-block filter-back-button"
               data-toggle="collapse"
               data-target="#filter-container"
               aria-expanded="false"
               aria-controls="filter-container"
               id="filter-button-submit">
                <i class="fas fa-2x fa-arrow-left"></i>
            </a>

            <div class="clear card-body border-bottom pb-0 pt-lg-1 pt-2 mt-lg-2 mt-3">
                <h4 class="card-title text-center">Filters</h4>
            </div>


            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <label for="authors-input">
                            <strong>Authors</strong>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input type="text"
                                id="authors-input"
                               data-result-key="authors"
                               data-url="{% url "get-authors" %}"
                               data-count-filter="true"
                               name="authors" class="tagify--outside"
                               placeholder="Author name">
                        <div class="text-muted small">If no author is selected the value defaults to all.</div>
                    </div>
                </div>

                <div class="row mt-1">
                    <div class="col-12">
                        <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
                            <label class="btn btn-light active">
                                <input type="radio" data-no-url="true" name="authors-connection" checked="checked"
                                       data-default="true"
                                       value="one"/> One matching
                            </label>
                            <label class="btn btn-light">
                                <input type="radio" data-no-url="false" name="authors-connection" value="all"/> All
                                matching
                            </label>

                        </div>
                        <div class="text-muted small">Decide whether some or all people should be author of the paper.
                        </div>

                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12">
                        <label for="journals-input">
                            <strong>Journals</strong>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input type="text"
                               id="journals-input"
                               data-url="{% url "get-journals" %}"
                               data-result-key="journals"
                               data-count-filter="true"
                               name="journals"
                               class="tagify--outside"
                               placeholder="Journal name">
                        <div class="text-muted small">If no journal is selected the value defaults to all.</div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12">
                        <strong>Categories</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-dark pt-1">
                        {% for category in form.categories.all %}
                            <label class="mb-0 d-lg-block">
                                <input data-url-manually="true" data-no-url="true" data-count-filter="true" class="mr-1" type="checkbox"
                                       {% if category.pk in form.selected_categories %}checked="checked"{% endif %}
                                       name="categories"
                                       value="{{ category.pk }}">
                                {{ category.name }} <span class="small text-muted">({{ category.papers.count }})</span>
                            </label>

                        {% endfor %}
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12">
                        <label for="start-date">
                            <strong>Published After</strong>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input type="text" autocomplete="off" data-count-filter="true" name="published_at_start" id="start-date"
                               value="{{ form.start_date }}"/>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <label for="end-date">
                            <strong>Published Before</strong>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input type="text" autocomplete="off" data-count-filter="true" name="published_at_end" id="end-date" value="{{ form.end_date }}"/>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12">
                        <label for="start-date">
                            <strong>Article Type</strong>
                        </label>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-12">
                        <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
                            <label class="btn btn-light active">
                                <input type="radio" data-no-url="true" name="article-type"
                                       {% if form.article_type == 'all' %}checked="checked"{% endif %}
                                       value="all"/> All
                            </label>
                            <label class="btn btn-light">
                                <input type="radio" data-count-filter="true" data-no-url="false" name="article-type"
                                       {% if form.article_type == 'reviewed' %}checked="checked"{% endif %}
                                       value="reviewed"/>
                                Reviewed
                            </label>
                            <label class="btn btn-light">
                                <input type="radio" data-count-filter="true" data-no-url="false" name="article-type"
                                       {% if form.article_type == 'preprints' %}checked="checked"{% endif %}
                                       value="preprints"/>
                                Preprints
                            </label>
                        </div>
                        <div class="text-muted small">
                            Reviewed articles were published in some journal while preprints are most often
                            not peer-reviewed but publicly available.
                        </div>

                    </div>
                </div>


                <div class="row mt-3">
                    <div class="col-12">
                        <label for="locations-input">
                            <strong>Locations</strong>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input type="text"
                               id="locations-input"
                               data-url="{% url "get-locations" %}"
                               data-result-key="locations"
                               data-count-filter="true"
                               name="locations"
                               class="tagify--outside"
                               placeholder="Location name">
                        <div class="text-muted small">Locations are countries or cities a paper is referring to. Not
                            every paper has an associated location. If no location is selected the value defaults to
                            all.
                        </div>
                    </div>
                </div>


                <div class="row mt-3 d-none d-lg-block">
                    <div class="col-12 text-right">
                        <button id="filter-form-submit" type="submit" class="btn btn-success" disabled><i
                                class="fas fa-sync"></i>
                            Refresh
                        </button>
                    </div>
                </div>


            </div>

        </form>

    </div>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {

        let authorInitialValues = JSON.parse('{{ form.authors|escapejs }}');

        $("#authors-input").tagifyAjax({
            initialValues: authorInitialValues,
            tagifySettings: {}
        });

        let journalInitialValues = JSON.parse('{{ form.journals|escapejs }}');

        $("#journals-input").tagifyAjax({
            initialValues: journalInitialValues,
            tagifySettings: {
                dropdown: {
                    enabled: 0,
                    mapValueTo: data => data.value + " (" + data.count + ")"
                }
            }
        });

        let locationsInitialValues = JSON.parse('{{ form.locations|escapejs }}');
        $("#locations-input").tagifyAjax({
            initialValues: locationsInitialValues,
            tagifySettings: {
                dropdown: {
                    enabled: 0,
                    mapValueTo: data => data.value + " (" + data.count + ")"
                }
            }
        });

        let filter_form = $("#filter-form");

        $('#start-date').lightDatepicker();
        $('#end-date').lightDatepicker();

        $("#filter-button-submit").click(function (e) {
            filter_form.submit();
        });

        filter_form.find("input").change(function (e) {
            $("#filter-form-submit").prop("disabled", false)
        });

        filter_form.submit(function (e) {
            e.preventDefault();

            $("#filter-form-submit").prop("disabled", true);
            $("#paper-search-form").submit();
        });


    });
</script>
