{% load static %}
{% if filter %}
    <div class="filter-container my-4 px-5 py-3 z-1 {% if card %} bg-light rounded shadow {% else %} text-white {% endif %}">

        <form id="paper-search-form" method="POST" action="{{ action }}">
            {% csrf_token %}

            <div class="row">

                <div class="col-xl-6 col-lg-6 col-md-12 mt-3">
                    <div class="row">
                        <div class="col-12">
                            <label for="search-input">Search:</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <input name="search" id="search-input" type="text" class="form-control"
                                   placeholder="Search for papers titles or authors">

                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-end">
                <div class="col-xl-5 col-lg-5 col-md-6 mt-3">
                    <div class="row">
                        <div class="col-12">
                            <label for="start-date">
                                Publication Date
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5 ">
                            <input autocomplete="off" name="published_at_start" id="start-date"/>
                        </div>

                        <div class="col-2 text-center pt-2">
                            <i class="fa fa-minus"></i>
                        </div>

                        <div class="col-5">
                            <input autocomplete="off" name="published_at_end" id="end-date"/>
                        </div>
                    </div>
                </div>

                <div class="col-xl-5 col-lg-4 col-md-6">
                    <div class="row mt-3">
                        <div class="col-12">
                            <label for="sorted-by">Sort by</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            {% include "core/partials/_sort_select.html" with best_machting=best_matching %}
                        </div>
                    </div>
                </div>

                <div class="col-xl-2 col-lg-3 col-md-12 col-sm-12 col-12 mt-3">
                    <button class="btn btn-pink d-block d-sm-block
                        d-md-inline-block
                        d-lg-inline-block
                        d-xl-inline-block w-100" id="findPapersSubmit">
                        <i class="fas fa-search mr-2"></i> Find Papers
                    </button>
                </div>
            </div>

        </form>

    </div>
{% elif script %}

    <script type="text/javascript">
        $(document).ready(function () {

            let indicator = $("#{{ indicator_id }}");
            let paper_container = $("#{{ result_container_id }}");
            let form = $("#paper-search-form");
            let pagination_container = $("#pagination-container");
            let find_papers_submit = $("#findPapersSubmit");

            window.formAjaxAllowed = true;

            update_pagination_container = pagination_container.paginate({
                searchQuery: search_query,
            });

            function search_query(data, page, scroll = false, on_success) {
                paper_container.hide();
                indicator.show();

                data += "&page=" + page;

                $.ajax({
                    url: form.attr("action"),
                    type: 'POST',
                    data: data,
                    success: function (data) {
                        paper_container.html(data);

                        indicator.hide();
                        paper_container.fadeIn();

                        update_pagination_container();

                        if (scroll) {
                            $('html, body').scrollTop(paper_container.offset().top - 50);
                        }

                        if (on_success) {
                            on_success();
                        }
                    },
                    error: function (request, error) {
                        console.log("Request: " + JSON.stringify(request));
                        console.log("Error: " + error);
                    }
                });
            }

            $('#start-date').datepicker({
                uiLibrary: 'bootstrap4',
                format: 'yyyy-mm-dd'
            }).parent().find('button').removeClass('btn-outline-secondary').addClass('btn-light');

            $('#end-date').datepicker({
                uiLibrary: 'bootstrap4',
                format: 'yyyy-mm-dd'
            }).parent().find('button').removeClass('btn-outline-secondary').addClass('btn-light');


            form.submit(function (e) {
                e.preventDefault();

                if (!window.formAjaxAllowed) {
                    return;
                }

                window.formAjaxAllowed = false;
                find_papers_submit.prop('disabled', true);

                pagination_container.hide();

                search_query(form.serialize(), 1, false, function () {
                    window.Pagination.last_request = form.serialize();
                    window.formAjaxAllowed = true;
                    find_papers_submit.prop('disabled', false);
                });

            });

            {% if load_default %}
                form.submit();
            {% endif %}
        });
    </script>
{% endif %}