{% load static %}

<div class="row mt-3">
    <div class="col-12">
        <label for="start-date">
            Published After
        </label>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <input autocomplete="off" name="published_at_start" id="start-date" value="{{ form.start_date }}"/>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <label for="start-date">
            Published Before
        </label>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <input autocomplete="off" name="published_at_end" id="end-date" value="{{ form.end_date }}"/>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        window.formAjaxAllowed = true;

        let indicator = $("#{{ indicator_id }}");
        let paper_container = $("#{{ result_container_id }}");
        let form = $("#{{ form_id }}");
        let pagination_container = $("#pagination-container");

        update_pagination_container = pagination_container.paginate({
            searchQuery: search_query,
        });

        function search_query(data, page, scroll = false, on_success) {
            paper_container.hide();
            indicator.show();

            console.log(data);

            data += "&page=" + page;

            $.ajax({
                url: form.attr("action"),
                type: 'POST',
                data: data,
                success: function (data) {
                    paper_container.html(data);

                    indicator.hide();
                    paper_container.fadeIn();

                    update_pagination_container();

                    if (scroll) {
                        $('html, body').scrollTop(paper_container.offset().top - 50);
                    }

                    if (on_success) {
                        on_success();
                    }
                },
                error: function (request, error) {
                    console.log("Request: " + JSON.stringify(request));
                    console.log("Error: " + error);
                }
            });
        }


        $('#start-date').datepicker({
            uiLibrary: 'bootstrap4',
            format: 'yyyy-mm-dd'
        }).parent().find('button').removeClass('btn-outline-secondary').addClass('btn-light');

        $('#end-date').datepicker({
            uiLibrary: 'bootstrap4',
            format: 'yyyy-mm-dd'
        }).parent().find('button').removeClass('btn-outline-secondary').addClass('btn-light');


        form.submit(function (e) {
            e.preventDefault();

            if (!window.formAjaxAllowed) {
                return;
            }

            window.formAjaxAllowed = false;
            $('.nav-search-types a.nav-link').addClass('disabled');

            pagination_container.hide();

            let submission_data = form.serialize();

            search_query(submission_data, 1, false, function () {
                window.Pagination.last_request = submission_data;

                let url = window.location.protocol + "//" + window.location.host + window.location.pathname + "?"
                    + form.find('input[name!=csrfmiddlewaretoken]').serialize();
                window.history.pushState({path: url}, '', url);

                window.formAjaxAllowed = true;

                $('.nav-search-types a.nav-link').removeClass('disabled');
            });
        });

        {% if load_default %}
            form.submit();
        {% endif %}
    });
</script>
