{% extends "core/base.html" %}
{% load static %}
{% load pipeline %}
{% block content %}

    <div class="gradient-header pb-5">
        <div class="container">
            <div class="row mt-5 mb-5">
                <div class="col-12">

                    <h1 class="text-white display-4">Literature Analysis</h1>

                    <div class="muted-white">
                        Analyze your literature and find COVID-19 publications which are
                        <strong>similar</strong> to your favorite articles.
                        You can select a subset of your
                        <a class="muted-white" href="{% url "favorites" %}">favorite articles</a>
                        or upload your existing literature file. The data you upload will be processed
                        in order to identify articles which we have in our database. Afterwards the uploaded file
                        will be deleted permanently from our servers.
                        For the articles which are in our database, we provide a similarity search function that
                        allows you to find similar articles for your query.
                        <a class="muted-white" href="{% url "search" %}">Search</a> for articles and select your favorites
                        or upload your literature as a
                        <strong>.bib</strong> file and try it out! To find out how to export your literature
                        as a .bib file, you can check out the tutorials for
                        <a class="muted-white" target="_blank"
                           href="https://libguides.usask.ca/c.php?g=218034&p=1458583">EndNote</a>,
                        <a class="muted-white" target="_blank"
                           href="https://libguides.usask.ca/c.php?g=218034&p=1446316">Mendeley</a>
                        and
                        <a class="muted-white" target="_blank"
                           href="https://libguides.usask.ca/c.php?g=218034&p=1446406">Zotero</a>.
                    </div>

                    <div class="similar-paper-submission-container mt-5 mr-5 ml-5">
                        <div class="text-right mb-1 change-input-type">
                            <div class="btn-group mb-2" role="group">

                                <a href="{% url "favorites" %}?similarity_analysis=1" class="btn btn-sm btn-secondary">
                                    <i class="fas fa-heart"></i> Select from favorites
                                </a>

                                <button type="button"
                                        data-form="upload-form"
                                        class="btn btn-sm btn-secondary active">
                                    <i class="fas fa-upload"></i> Upload
                                </button>

                                <button type="button"
                                        data-form="raw-form"
                                        class="btn btn-sm btn-secondary">
                                    <i class="fas fa-keyboard"></i> Raw Input
                                </button>
                            </div>
                        </div>

                        <form class="form" action="{% url "literature-analysis" %}" method="post" id="raw-form"
                              style="display: none;">
                            {% csrf_token %}

                            <div class="similar-content-area">
                                <label class="d-block">
                                    <textarea name="content" placeholder="@article{<identifier>,&#10;   title={My Title}&#10;}"></textarea>
                                </label>

                                <div class="text-right mt-1">
                                    <button class="btn btn-success">Send</button>
                                </div>
                            </div>

                            <div class="text-center text-white">

                                <div class="icon indicator" style="display: none;">
                                    <i class="fas fa-4x fa-circle-notch fa-spin"></i>
                                </div>
                                <div class="icon success" style="display: none;">
                                    <i class="fas fa-4x fa-check-circle"></i>
                                </div>
                                <div class="icon error" style="display: none;">
                                    <i class="fas fa-4x fa-exclamation-circle"></i>
                                </div>

                                <h4 class="font-weight-light text-center results-text mt-3"
                                    data-text-success="Your input was analyzed. Check the results below."
                                    data-text-error="We were unable to parse your input. It might be malformed."
                                ></h4>

                            </div>
                        </form>

                        <form class="form" id="upload-form" action="{% url "literature-analysis" %}" method="post"
                              enctype="multipart/form-data">

                            {% csrf_token %}
                            <input type="file" name="file" id="literature-file" style="display: none;"/>

                            <div role="button" class="upload-area rounded">
                                <div class="icon default">
                                    <i class="fas fa-file-upload fa-4x"></i>
                                </div>
                                <div class="icon drag" style="display: none;">
                                    <i class="fas fa-4x fa-hand-point-down"></i>
                                </div>
                                <div class="icon indicator" style="display: none;">
                                    <i class="fas fa-4x fa-circle-notch fa-spin"></i>
                                </div>
                                <div class="icon success" style="display: none;">
                                    <i class="fas fa-4x fa-check-circle"></i>
                                </div>
                                <div class="icon error" style="display: none;">
                                    <i class="fas fa-4x fa-exclamation-circle"></i>
                                </div>
                                <h4 class="font-weight-light text-center"
                                    data-text-default="Upload your .bib file"
                                    data-text-dragging="Drag here"
                                    data-text-dragover="Drop it!"
                                    data-text-uploading="Uploading..."
                                    data-text-success="Your file was analyzed. Check the results below."
                                    data-text-error="We were unable to parse your file. It might be malformed or too large."
                                >Upload your .bib file</h4>
                            </div>

                        </form>

                    </div>
                </div>

            </div>

        </div>

        {% include 'core/partials/_rounded_bottom.html' %}

    </div>


    <div class="container mt-5">
        <div id="analysis-container"></div>
    </div>

{% endblock %}

{% block script %}

    <script>
        $(document).ready(function () {
            let analysisSucceeded = false;
            let html = $("html");
            let upload_form = $("#upload-form");
            let upload_area = $(".upload-area");
            let upload_area_text = $(".upload-area h4");

            let drag_icon = $(".upload-area .icon.drag");
            let default_icon = $(".upload-area .icon.default");
            let indicator_icon = $(".icon.indicator");
            let success_icon = $(".icon.success");
            let error_icon = $(".icon.error");

            let icons = $(".icon");
            let file_field = $("#literature-file");

            let analysis_container = $("#analysis-container");

            let raw_form = $("#raw-form");
            let raw_form_result_text = raw_form.find('.results-text');

            $(".change-input-type button").click(function () {
                if ($(this).hasClass('active'))
                    return;

                let formId = $(this).data('form');

                $(this).closest('div').find('button.active').removeClass('active');
                $(this).addClass('active');

                $("form").hide();
                $("#" + formId).fadeIn();
            });


            // preventing page from redirecting
            html.on("dragover", function (e) {
                e.preventDefault();
                e.stopPropagation();

                if (analysisSucceeded) {
                    return;
                }

                upload_area_text.text(upload_area_text.data('text-dragging'));
                icons.hide();
                drag_icon.show();
            });

            html.on("drop", function (e) {
                e.preventDefault();
                e.stopPropagation();

                if (analysisSucceeded) {
                    return;
                }

                upload_area_text.text(upload_area_text.data('text-default'));
                icons.hide();
                default_icon.show();
            });

            // Drag enter
            upload_area.on('dragenter', function (e) {
                e.stopPropagation();
                e.preventDefault();

                if (analysisSucceeded) {
                    return;
                }

                upload_area_text.text(upload_area_text.data('text-dragover'));
            });

            // Drag over
            upload_area.on('dragover', function (e) {
                e.stopPropagation();
                e.preventDefault();

                if (analysisSucceeded) {
                    return;
                }

                upload_area_text.text(upload_area_text.data('text-dragover'));
            });

            // Drop
            upload_area.on('drop', function (e) {
                e.stopPropagation();
                e.preventDefault();

                if (analysisSucceeded) {
                    return;
                }


                file_field.prop('files', e.originalEvent.dataTransfer.files);

                uploadData(e.originalEvent.dataTransfer.files[0])

            });

            upload_area.click(function (e) {
                e.preventDefault();

                if (analysisSucceeded) {
                    return;
                }

                file_field.click();
            });

            file_field.change(function (e) {
                if (analysisSucceeded) {
                    return;
                }

                uploadData(file_field.prop('files')[0]);
            });

            function on_success(data) {
                analysis_container.html(data);
                icons.hide();
                success_icon.show();
                upload_area_text.text(upload_area_text.data('text-success'));
                raw_form_result_text.text(raw_form_result_text.data('text-success'));
                analysisSucceeded = true;
            }

            function on_error(error) {
                icons.hide();
                error_icon.show();
                upload_area_text.text(upload_area_text.data('text-error'));
                raw_form_result_text.text(raw_form_result_text.data('text-error'));
                upload_area.removeClass('uploaded');

            }

            function pre_submission() {
                $(".similar-paper-submission-container .change-input-type").hide();
                icons.hide();
                indicator_icon.show();

            }

            function uploadData(file) {

                let form_data = new FormData();

                form_data.append('file', file);
                form_data.append('csrfmiddlewaretoken', upload_form.children('input[name=csrfmiddlewaretoken]').val());

                pre_submission();
                upload_area.addClass('uploaded');
                upload_area_text.text(upload_area_text.data('text-uploading'));

                $.ajax({
                    url: upload_form.attr('action'),
                    type: 'post',
                    data: form_data,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        on_success(data);
                    },
                    error: function (request, error) {
                        console.log("Request: " + JSON.stringify(request));
                        console.log("Error: " + error);
                        on_error(error);
                    }
                });
            }

            raw_form.submit(function (e) {
                e.preventDefault();

                $(".similar-content-area").hide();
                pre_submission();

                $.ajax({
                    url: raw_form.attr('action'),
                    type: 'post',
                    data: raw_form.serialize(),
                    success: function (data) {
                        on_success(data);
                    },
                    error: function (request, error) {
                        console.log("Request: " + JSON.stringify(request));
                        console.log("Error: " + error);
                        on_error(error);
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block css %}
    <style>
        .upload-area {
            width: 100%;
            height: 200px;
            background: rgba(0.8, 0.8, 0.8, 0.2);
            border-radius: 10px;
            position: relative;
            color: #e0e0e0;

            -webkit-transition: background-color 1s;
            transition: background-color 1s;

            -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);

        }

        .upload-area:after {
            border-radius: 10px;
            padding: 5px;
            border: 5px dashed #e0e0e0;

            position: absolute;
            content: '';
            top: -5px;
            left: -5px;
            bottom: -5px;
            right: -5px;
        }

        .upload-area.uploaded, .upload-area.uploaded:after {
            border: none;
            background: none;

            -webkit-box-shadow: 0 0 0 0;
            -moz-box-shadow: 0 0 0 0;
            box-shadow: 0 0 0 0;
        }

        form .similar-content-area {
        }

        form .similar-content-area textarea {
            width: 100%;
            height: 200px;
            padding: 8px;

            border: none;
            overflow: auto;
            outline: none;

            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;

            border-radius: 10px;
        }

        .upload-area div {
            height: 80px;
            text-align: center;
            padding-top: 30px;
        }

        .upload-area h4 {
            line-height: 120px;
            margin-bottom: 0;
        }
    </style>
{% endblock %}