{% extends "search/search_base.html" %}
{% load static %}
{% block content %}
    <div id="paper-cover" class="paper-cover"></div>

    <div class="gradient-header pb-0">
        <div class="container">

            <div class="row mt-5">
                <div class="col-12">

                    <form id="paper-search-form" class="search-form" method="post" action="{% if search_url %}{{ search_url }}{% else %}{% url "search" %}{% endif %}">
                        <input data-no-url="true" type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        <input class="d-none" id="top-tab-input" data-no-url="true" type="radio" name="tab" value="top"
                               {% if form.cleaned_data.tab == 'top' %}checked="checked"{% endif %}/>
                        <input class="d-none" id="newest-tab-input" type="radio" name="tab" value="newest"
                               {% if form.cleaned_data.tab == 'newest' %}checked="checked"{% endif %}/>
                        <input class="d-none" id="statistics-tab-input" type="radio" name="tab" value="statistics"
                               {% if form.cleaned_data.tab == 'statistics' %}checked="checked"{% endif %}/>

                        {% block search_head %}
                            <!-- For desktop search -->

                            <div class="input-group input-group-lg mb-3">
                                <div class="input-group-prepend border-right-0">
                                    <div class="input-group-text bg-white border-right-0 d-none d-lg-flex">
                                        <i class="fas fa-search"></i>
                                    </div>
                                </div>

                                <input type="text" value="{{ form.cleaned_data.query }}" name="query"
                                       class="border-left-0 form-control"
                                       placeholder="Find papers by their title or content">
                                <div class="input-group-append">
                                    <button class="btn btn-success" type="submit">Search</button>
                                </div>
                            </div>

                            <!-- End desktop search -->
                        {% endblock %}

                    </form>


                </div>

            </div>

        </div>

        <div class="row mt-5 mx-lg-5 mx-md-3 mx-1">
            <div class="col-8">
                <ul class="nav nav-search-types nav-justified">
                    <li class="nav-item">
                        <label class="nav-link {% if form.cleaned_data.tab == "top" %}active{% endif %}"
                               for="top-tab-input">
                            Top
                        </label>
                    </li>

                    <li class="nav-item">
                        <label for="newest-tab-input"
                               class="nav-link {% if form.cleaned_data.tab == "newest" %}active{% endif %}">
                            Newest
                        </label>

                    </li>

                    <li class="nav-item">
                        <label class="nav-link {% if form.cleaned_data.tab == "statistics" %}active{% endif %}"
                               for="statistics-tab-input">
                            Statistics
                        </label>
                    </li>
                </ul>
            </div>
            <div class="col-4 text-right">
                <button class="btn btn-light mt-2 filter-toggle"
                        id="filter-toggle"
                        data-toggle="collapse"
                        data-target="#filter-container"
                        aria-expanded="false"
                        aria-controls="filter-container">Filters
                    <span style="display: none;" class="badge badge-pill badge-danger"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="mx-lg-5 mx-md-3 mx-1">
        <div class="d-flex flex-row">

            <div class="flex-fill" style="min-width: 0;">
                <div id="paper-container"></div>

                <div id="paper-loading-indicator"
                     class="text-muted text-center fa-5x my-5"
                     style="display: none;">
                    <i class="fas fa-circle-notch fa-spin"></i>
                </div>

                <nav class="mt-5" id="pagination-container"></nav>
            </div>

            <div>
                {% include "search/partials/_filter_box.html" with form=form load_default=True categories=categories %}
            </div>

        </div>
    </div>

{% endblock %}

{% block script %}
    {{ block.super }}

    <script type="text/javascript">
        $(document).ready(function (e) {

            let form = $("#paper-search-form");
            let indicator = $("#paper-loading-indicator");
            let paper_container = $("#paper-container");
            let pagination_container = $("#pagination-container");
            let filter_toggle_badge = $("#filter-toggle span.badge");
            let filter_form = $("#filter-form");


            let searchEngine = form.collabovidSearch({
                indicator: indicator,
                paper_container: paper_container,
                pagination_container: pagination_container
            });


            $("input[name=tab]").change(function (e) {
                let label = $("label[for='" + $(this).attr('id') + "']");

                if (label.hasClass('disabled')) {
                    return;
                }

                $(".nav-search-types .nav-link.active").removeClass("active");
                label.addClass("active");
                form.submit();
            });

            form.submit(function (e) {
                e.preventDefault();

                /**
                 * We have three types of inputs:
                 * data-no-url: These inputs will not be pushed to the url
                 * data-url-manually: These inputs will not be pushed to the url automatically
                 * other: Input will be submitted and pushed to url
                 */

                let submission_data = $(".search-form input[data-no-url!=true]").serialize();
                let no_url_submission_data = $('.search-form input[data-no-url=true][data-url-manually!=true]').serialize();

                // Converting categories=x&categories=y to categories=x,y
                let checked_categories = $('.search-form input[name=categories]:checked');
                let categories = $('.search-form input[name=categories]');

                if (checked_categories.length !== categories.length) {
                    submission_data += "&categories=";
                    submission_data += checked_categories.map(function () {
                        return this.value;
                    }).get().join(',');
                }

                // Full data must be submitted to the view. Submission data can be saved in the url.
                let full_data = submission_data + "&" + no_url_submission_data;

                searchEngine.searchQuery(full_data, 1, false, function () {
                    $('.nav-search-types label.nav-link').addClass('disabled');

                    let active_filter_count = filter_form.find("input[data-count-filter=true][type=text]").filter(function () {
                            return $(this).val().length !== 0
                        }).length +
                        filter_form.find("input[data-count-filter=true][type=radio]:checked").length
                        + filter_form.find("input[data-count-filter=true][type=checkbox]:checked").length;

                    if (active_filter_count > 0) {
                        filter_toggle_badge.html(active_filter_count).show();
                    } else {
                        filter_toggle_badge.hide();
                    }
                }, function () {
                    $('.nav-search-types label.nav-link').removeClass('disabled');
                    searchEngine.pushToUrl(submission_data);
                });
            });

            form.submit();
        });
    </script>
{% endblock %}