{% extends "core/base.html" %}
{% load static %}
{% load pipeline %}
{% block content %}

    <div class="gradient-header">
        <div class="container mt-4">
            <h2 class="text-white">Find similar papers</h2>
        </div>
        {% include 'core/partials/_rounded_bottom.html' %}
    </div>

    <div class="container mt-3">

        <div class="row mt-3">
            <div class="col-lg-4">
                <h4 class="text-muted font-weight-light">Your papers</h4>
            </div>
            <div class="col-lg-8">
                <h3 class="text-muted">Similar papers</h3>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-4">
                <form id="similar-paper-form" method="post" action="{% url "similar-papers" %}">
                    {% csrf_token %}
                    <div class="text-muted">
                        You can find the list of selected papers below. You can enable/disable certain papers
                        and refresh the results if you like.
                    </div>
                    <ul class="list-group selectable-list-group">
                        {% for paper in query_papers.all %}
                            {% include "core/partials/_paper_list_item.html" with paper=paper selectable=True short=True checked=True %}
                        {% endfor %}
                    </ul>

                    <div class="text-right mt-2">
                        <button class="btn btn-success">Refresh</button>
                    </div>

                </form>
            </div>
            <div class="col-lg-8">
                <div id="paper-container"></div>

                <div id="paper-loading-indicator"
                     class="text-muted text-center fa-5x my-5"
                     style="display: none;">
                    <i class="fas fa-circle-notch fa-spin"></i>
                </div>

                <nav class="mt-5" id="pagination-container"></nav>
            </div>

        </div>
    </div>



{% endblock %}

{% block script %}
    {% javascript "similar_papers" %}
    <script>
        $(document).ready(function () {
            const form = $("#similar-paper-form");
            const paperContainer = $("#paper-container");
            const indicator = $("#paper-loading-indicator");
            const paginationContainer = $("#pagination-container");

            form.collabovidSimilarSearch({
                indicator: indicator,
                paper_container: paperContainer,
                pagination_container: paginationContainer,
                receivePaperUrl: "{% url "receive-papers" %}"
            });
        })
    </script>
{% endblock %}

{% block css %}

{% endblock %}