{% if html %}
    <div class="filter-container my-4 px-5 py-3 bg-light z-1 rounded shadow">

        <form id="paper-search-form" method="POST" action="{% url action %}">
            {% csrf_token %}

            <div class="row">

                <div class="col-md-8">
                    <div class="row">
                        <div class="col-12">
                            <label for="search-input">Search:</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <input name="search" id="search-input" type="text" class="form-control"
                                   placeholder="Search for papers or topics">

                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="row">
                        <div class="col-12">
                            <label for="chose-category">Choose a category:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <select name="categories"
                                    id="chose-category"
                                    class="selectpicker w-100"
                                    data-live-search="true"
                                    multiple="multiple">
                                {% for category in categories %}
                                    <option value="{{ category.name }}" selected>{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-12">
                            <label for="start-date">
                                Publication Date
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5">
                            <input autocomplete="off" name="published_at_start" id="start-date"/>
                        </div>

                        <div class="col-2 text-center pt-2">
                            <i class="fa fa-minus"></i>
                        </div>

                        <div class="col-5">
                            <input autocomplete="off" name="published_at_end" id="end-date"/>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12">
                            <label for="chose-category">What topic are you interested in?</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <select name="topics" id="chose-cluster" class="selectpicker w-100" data-live-search="true"
                                    multiple="multiple">
                                <option value="micro">Cluster1</option>
                                <option value="study">Cluster2</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-1 pt-2">
                    <button class="btn btn-primary float-right mt-4">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>

        </form>

    </div>

    <div id="page-selection">Pagination goes here</div>

{% elif script %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        type = "text/javascript" >
            $(document).ready(function () {
                let indicator = $("#{{ indicator_id }}");
                let paper_container = $("#{{ result_container_id }}");


                $('#chose-category').selectpicker();
                $('#chose-cluster').selectpicker();
                $('#start-date').datepicker({
                    uiLibrary: 'bootstrap4',
                    format: 'yyyy-mm-dd'
                });
                $('#end-date').datepicker({
                    uiLibrary: 'bootstrap4',
                    format: 'yyyy-mm-dd'
                });


                $("#paper-search-form").submit(function (e) {
                    e.preventDefault();

                    paper_container.hide();
                    indicator.show();


                    let form = $(this);

                    $.ajax({
                        url: form.attr("action"),
                        type: 'POST',
                        data: form.serialize(),
                        success: function (data) {
                            paper_container.html(data);

                            indicator.hide();
                            paper_container.fadeIn();
                        },
                        error: function (request, error) {
                            console.log("Request: " + JSON.stringify(request));
                            console.log("Error: " + error);
                        }
                    });
                });
            });
    </script>

{% elif css %}
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
{% endif %}