{% if filter %}
    <div class="filter-container my-4 px-5 py-3 z-1 {% if card %} bg-light rounded shadow {% else %} text-white {% endif %}">

        <form id="paper-search-form" method="POST" action="{{ action }}">
            {% csrf_token %}

            <div class="row">

                <div class="col-md-8">
                    <div class="row">
                        <div class="col-12">
                            <label for="search-input">Search:</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <input name="search" id="search-input" type="text" class="form-control"
                                   placeholder="Search for papers or topics">

                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="row">
                        <div class="col-12">
                            <label for="chose-category">Choose a category:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <select name="categories"
                                    id="chose-category"
                                    class="selectpicker"
                                    data-live-search="true"
                                    multiple="multiple">
                                {% for category in categories %}
                                    <option value="{{ category.name }}" selected>{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-4">
                            <a href="all" id="toggle-category-select"
                               class="btn btn-danger delete w-50 ml-2"
                               data-text-switch="<i class='fas fa-plus'></i>">
                                <i class='fas fa-times'></i>
                            </a>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-12">
                            <label for="start-date">
                                Publication Date
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5">
                            <input autocomplete="off" name="published_at_start" id="start-date"/>
                        </div>

                        <div class="col-2 text-center pt-2">
                            <i class="fa fa-minus"></i>
                        </div>

                        <div class="col-5">
                            <input autocomplete="off" name="published_at_end" id="end-date"/>
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="row">
                        <div class="col-12">
                            <label for="sorted-by">Sort by</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <select class="form-control" name="sorted_by" id="sorted-by">
                                {% if best_matching %}
                                    <option value="matching" selected>Best matching</option>
                                {% endif %}
                                <option value="greatest">Greatest</option>
                                <option value="newest" {% if not best_matching %}selected{% endif %}>Newest</option>
                                <option value="title">Title</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 pt-2">
                    <button class="btn btn-pink float-right mt-4">
                        <i class="fas fa-search mr-2"></i> Find Papers
                    </button>
                </div>
            </div>

        </form>

    </div>
{% elif pagination %}
    <nav>
        <ul id="pagination-container" class="pagination my-3 justify-content-center" style="display: none;">
            <li class="page-item page-item-fixed"><a class="page-link" href="#" data-page="-1" data-next="false"
                                                     data-prev="true"><span
                    aria-hidden="true">&laquo;</span></a></li>

            <li id="page-item-next" class="page-item page-item-fixed"><a class="page-link" href="#"
                                                                         data-page="-1" data-next="true"
                                                                         data-prev="false"><span aria-hidden="true">&raquo;</span></a>
            </li>
        </ul>
    </nav>
{% elif script %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            window.Pagination = {};

            let indicator = $("#{{ indicator_id }}");
            let paper_container = $("#{{ result_container_id }}");
            let form = $("#paper-search-form");
            let pagination_container = $("#pagination-container");
            let chose_category_select = $("#chose-category");

            let next_page_item = $("#page-item-next");

            $("#toggle-category-select").click(function (e) {
                e.preventDefault();

                let new_text = $(this).data("text-switch");
                let old_text = $(this).html();


                if ($(this).hasClass('delete')) {
                    chose_category_select.find('option').attr("selected", false);
                    $(this).removeClass('delete').removeClass('btn-danger').addClass('add').addClass('btn-success');
                } else if ($(this).hasClass('add')) {
                    chose_category_select.find('option').attr("selected", "selected");
                    $(this).removeClass('add').removeClass('btn-success').addClass('delete').addClass('btn-danger');
                }

                $(this).data("text-switch", old_text);
                $(this).html(new_text);

                chose_category_select.selectpicker('refresh');
            });

            function search_query(data, page, on_success) {
                data += "&page=" + page;

                $.ajax({
                    url: form.attr("action"),
                    type: 'POST',
                    data: data,
                    success: function (data) {
                        paper_container.html(data);

                        indicator.hide();
                        paper_container.fadeIn();

                        update_pagination_container();
                        on_success();
                    },
                    error: function (request, error) {
                        console.log("Request: " + JSON.stringify(request));
                        console.log("Error: " + error);
                    }
                });
            }

            function insert_page(i, last_page_added) {

                if (i <= last_page_added) {
                    return last_page_added;
                }

                if (i - 1 > last_page_added) {
                    insert_page_placeholder();
                }

                let element = $("<li class=\"page-item\"><a class=\"page-link\" href=\"#\" data-next=\"false\" data-prev=\"false\" data-page=\"" + i + "\">" + i + "</a></li>").insertBefore(next_page_item);

                if (i === Pagination.current_page) {
                    element.addClass("active");
                }

                return i;
            }

            function insert_page_placeholder() {
                let element = $("<li class=\"page-item disabled\"><a class=\"page-link\" data-next=\"false\" data-prev=\"false\" data-page=\"-1\" href=\"#\">...</a></li>").insertBefore(next_page_item);
            }

            function update_pagination_container() {
                $(".page-item:not(.page-item-fixed)").remove();

                if (Pagination.pagination_needed) {
                    last_page_added = 0;

                    last_page_added = insert_page(Pagination.first_page, last_page_added);
                    last_page_added = insert_page(Pagination.previous_page, last_page_added);
                    last_page_added = insert_page(Pagination.current_page, last_page_added);
                    last_page_added = insert_page(Pagination.next_page, last_page_added);
                    last_page_added = insert_page(Pagination.last_page, last_page_added);

                    pagination_container.fadeIn();
                }


            }

            $('#chose-category').selectpicker();

            $('#start-date').datepicker({
                uiLibrary: 'bootstrap4',
                format: 'yyyy-mm-dd'
            }).parent().find('button').removeClass('btn-outline-secondary').addClass('btn-light');

            $('#end-date').datepicker({
                uiLibrary: 'bootstrap4',
                format: 'yyyy-mm-dd'
            }).parent().find('button').removeClass('btn-outline-secondary').addClass('btn-light');


            form.submit(function (e) {
                e.preventDefault();

                paper_container.hide();
                indicator.show();
                pagination_container.hide();

                search_query(form.serialize(), 1, function () {
                    Pagination.last_request = form.serialize();
                });

            });

            $(this).on("click", ".page-item:not(.disabled) > a", function (e) {
                e.preventDefault();

                let is_prev = $(this).data("prev");
                let is_next = $(this).data("next");

                let page = -1;


                if (is_prev && Pagination.previous_page > 0) {
                    page = Pagination.previous_page

                } else if (is_next && Pagination.next_page > 0) {
                    page = Pagination.next_page
                } else if (is_next || is_prev) {
                    return;
                } else {
                    page = $(this).data("page");
                }

                paper_container.hide();
                indicator.show();

                search_query(Pagination.last_request, page, function () {
                });
            });

            $(document).on('click', '.toggle-description', function (e) {

                e.preventDefault();

                if ($(this).hasClass('expanded')) {
                    $(this).removeClass('expanded');
                    $(this).parent().find('.long').hide();
                    $(this).parent().find('.dots').show();
                } else {
                    $(this).addClass('expanded');
                    $(this).parent().find('.dots').hide();
                    $(this).parent().find('.long').fadeIn();
                }


                let new_text = $(this).data("text-switch");
                let old_text = $(this).html();

                console.log(new_text, old_text);
                $(this).data("text-switch", old_text);
                $(this).html(new_text);
            });

            {% if load_default %}
                form.submit();
            {% endif %}
        });
    </script>

{% elif css %}
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
{% endif %}